.archive .entry-body p {
	margin-top: 1.25rem;
	margin-bottom: auto;
}

		.archive.category .title-bar-right {
			display: none;
		}

.archive .entry-content:nth-child(odd) {
	background-attachment: initial;
}

/* Small Only */
@media only screen and (max-width:39.9375em) {
	cite {
		right: 0.875rem;
	  bottom: 0.5rem;
	}
	#site-navigation.menu > li > a {
		margin-right: 0.9375vw;
	}
	
	.entry-header h1,
	.entry-header h2 {
		line-height: 1;
	  text-shadow: 0 0 0.5rem rgba(0,0,0,0.6);
	}
		.entry-content.light .entry-header h1,
		.entry-content.light .entry-header h2 {
		  text-shadow: 0 0 0.5rem rgba(255,255,255,0.6);
		}
	
	body:not(.single-post) .entry-header h1,
	body:not(.single-post) .entry-header h2 {
	  margin-top: calc(22.5vh + 2rem);
	}
		body:not(.single-post) .format-standard .entry-header h1,
		body:not(.single-post) .format-standard .entry-header h2 {
		  margin-top: calc(20vh + 2rem);
		}
		body:not(.single-post) .format-image .entry-header h1,
		body:not(.single-post) .format-image .entry-header h2 {
		  margin-top: 1.5rem;
		}
	
	.home .entry-content h2 {
	  margin-left: 3.75vw;
		margin-right: 3.75vw;
  }
	 
	.format-image .feature {
		margin: 1.75rem auto;
		float: none;
		position: relative;
		text-align: center;
		background-image: none !important;
  }
  	.format-image .feature img {
	  	opacity: 1;
	  	margin: auto;
			border: solid 4px $white;
	  }
	 
	.social-widget > * {
		border-left-style: none;
	}
}

/* Medium Only */
@media only screen and (min-width:40em) and (max-width:63.9375em) {
	.entry-content.active .entry-body {
		max-height: 50vh;
	}
	.entry-header h1,
	.entry-header h2 {
		line-height: 1.0625;
	}
		body:not(.single) .entry-header h1,
		body:not(.single) .entry-header h2 {
	  	margin-top: calc(33vh + 5.375rem/2.25);
	  }	
			body:not(.single-post) .entry-content.active .entry-header h1,
			body:not(.single-post) .entry-content.active .entry-header h2 {
			  margin-top: calc(22.5vh + 2rem);
			}
			
	.entry-body {
		font-size: 1.25rem;
	}
	.gallery-item {
		width: 22.5%;
	}
	#content > a:not(:first-child) {
		right: 0;
	}
	.social-widget > * {
		width: 50vw;
	}
	main.social-active .entry-content {
		width: 50vw;
	}
  #lans_images li:nth-of-type(3){
	  display: none;
	}
}

/* Medium Up */
@media only screen and (min-width:40em) {
	.archive .format-standard nav,
	.archive .format-aside nav {
		text-align: left;
	}
}

/* Large Up */
@media only screen and (min-width:64em) {
	.archive .entry-content:nth-child(odd) {
		background-attachment: fixed;
	}
}