body.category {
	.callout {
		height: calc(50vh + 2rem + 40px);
		background-position-y: top;
	}
	@media only screen and (min-width:65em) {
		.callout {
			height: 50vh;
			background-size: auto calc(50vh + 2rem + 40px);
		}
	}
}