body.author-maakuw, 
body.category-maakuw {
	background-color: #1c2839;
	.entry-header,
	.entry-body,
	.entry-footer {
		margin-left: rem-calc(16);
		margin-right: rem-calc(16);
	}
	
	.off-canvas-content>.scrollmagic-pin-spacer a,
	.off-canvas-content>a, 
	input[type=submit], 
	input[type=button] {
		background-color: $salmon;
	}
	
	.logo {
		display: block;
		max-width: 45px;
		padding: 5px;
		font-size: rem-calc(16);
		line-height: 1;
		text-align: center;
		background-color: red;
		font-family: Osaka;
	}
	
	#masthead {
		> a {
			color: $white;
			background-color: transparent;
			em.fa, em.lnr {
				width: 2rem;
				text-align: center;
				font-size: 1.5rem;
				vertical-align: middle;
			}
		}
		border-bottom-color: $navy;
	}
	
	.title-bar {
		background-color: $navy;
	}
		
	#nextBtn,
	#content > nav a, 
	.off-canvas-content > a,
	.off-canvas-content > .scrollmagic-pin-spacer a {
		background-color: $navy;
		z-index: 2;
	}
	
	#colophon {
		background-color: #f9e8e8;
		article {
			background-color: #6790ca;
			background-blend-mode: multiply;
			box-shadow: 0 -135px 270px rgba(0,0,0,0.3) inset;
			h5 {
				color: #ef5657;
				text-shadow: 0 0 1px black;
			}
			h6 {
				color: white;
			}
			p {
				color: #e1e1e1;
			}
		}
	}
	
	@media only screen and (min-width: 40em) {
		#colophon {
			article {
				h5 {
					&[data-href]:hover {
						color: red;
					}
				}
			}
		}
	}
	
	@media only screen and (min-width: 65em) {
		#content.enter .entry-content.active {
			
			&.dark:before {
				background-color: rgba(0,0,0,0.5);
			}
			&.light:before {
				background-color: rgba(255,255,255,0.5);
			}
		}
	}
}