body.home {
	#colophon {
		transition: all 300ms ease-out;
	}
}
body.admin-bar {
	#colophon:not(.collapsed) {
		top: 97px;
		height: calc(100vh - 97px);
	}
}

#colophon {
	position: absolute;
	top: 65px;
	bottom: 0;
	width:100vw;
	height: calc(100vh - 65px);
	border-top-width: 0;
	background-color: #f2f2f2;
	background-size: cover;
	background-position: center;
	overflow: visible;
	z-index: 11;
	transition: all 150ms ease-out;
	&.collapsed {
		top: 100vh;
		height: 0;
		overflow: hidden;
		transition: all 150ms ease-out;
		.th {
			div {
				opacity: 0;
			}
		}
	}
	> div {
		flex: 0 1 auto;
		align-self: stretch;
		background-color: $white;
		border: solid rem-calc(1) $white;		
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
  }
  
	dl {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  align-content: flex-start;
	  align-items: flex-start;
		margin: auto;
		&[data-gallery] {
			div {
				flex: .3334 1 auto;
				width: calc(33.3334% - 10px);
			  &:first-of-type dd {						  
					border-bottom-left-radius: 20px;
					border-top-right-radius: 20px;
				}
			  &:nth-of-type(2) dd {						  
					border-top-right-radius: 20px;
					border-top-left-radius: 20px;
				}
			  &:nth-of-type(3) dd {						  
					border-bottom-right-radius: 20px;
					border-top-left-radius: 20px;
				}
			  &:nth-of-type(4) dd {						  
					border-bottom-left-radius: 20px;
					border-top-left-radius: 20px;
				}
			  &:nth-of-type(6) dd {						  
					border-bottom-right-radius: 20px;
					border-top-right-radius: 20px;
				}
			  &:nth-of-type(7) dd {						  
					border-bottom-right-radius: 20px;
					border-top-left-radius: 20px;
				}
			  &:nth-of-type(8) dd {						  
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;
				}
			  &:nth-of-type(9) dd {						  
					border-bottom-left-radius: 20px;
					border-top-right-radius: 20px;
				}
			}
		}
		> div,
		dd,
		dt {
			cursor: pointer;
		}
		dd,
		dt {
			margin: auto;
	  }
	  
	  dt {
			> * {
				font-size: rem-calc(10);
				line-height: 1.25;
			}
	    h6 {
				margin-top: rem-calc(10);
				margin-bottom: rem-calc(2);
				font-size: rem-calc(10);
				font-weight: $text-black;
				text-transform: uppercase;
				line-height: 1;
			}
			p {
				margin-top: auto;
				margin-bottom: rem-calc(8);
				font-weight: $text-light;
			}
		}
	  
		dd {
			border: solid 1px white;
			border-radius: 6px;
			box-shadow: 0 0 10px rgba($black, 0.6) inset;
			min-height: 15vh;
			overflow: hidden;
			background-size: cover;
			background-position: center center;
			img {
				width: 100%;
				opacity: 0;
			}
		}
	}
  
	article {
		position: relative;
		padding: rem-calc(16);
		width: 100%;
		background-color: #b7d5e1;
		background-position: center top;
		background-size: auto 90vh;
		background-blend-mode: color-burn;
		box-shadow: 0 -135px 80px rgba(0,0,0,0.8) inset;
		h5 {
			margin-top: rem-calc(16);
			margin-bottom: rem-calc(8);
			font-size: rem-calc(24);
			line-height: 0.9375;
			text-transform: uppercase;
		}
		h6 {			
			margin-bottom: rem-calc(16);
			font-size: rem-calc(16);
		}
		h6, h5, p {
			color: $white;
		}
		p {
			display: inline;
			margin-top: auto;
			font-size: rem-calc(14);
			font-weight: $text-normal;
			line-height: 1.25;
			&:last-of-type {
				margin-bottom: auto;
			}
		}
		
		@include social_nav();
		
		.th {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: center;
			align-items: flex-end;
			div {
				position: relative;
				width: rem-calc(125);
				height: rem-calc(125);
				border-radius: 100vw;
				overflow: hidden;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					box-shadow: 5px 5px 30px $black inset;
					top: 0;
					left: 0;
					z-index: 1;
					overflow: hidden;
					border-radius: 100vw;
				}
			}
			img {
				margin: auto;
				display: block;
			}
		}

	}
	
	div:nth-child(odd) {
		article {
			order: 1;
			border-right: solid rem-calc(2) $white;
		}
		dl {
			order: 2;
		}
	}
	
	div:nth-child(even) {
		article {
			h5 {
				font-family: $unicorns;
				text-transform: none;
				font-weight: normal;
				font-size: 3.25vw;
			}
			h6, p {
				font-family: $font-alternate;
			}
		}
	}
	dl {
		width: 100%;
		min-height: calc(96vh - 160px);
		color: $black;		
		padding: rem-calc(16);
		&[data-journal] {				
			> div {
				flex: .5 1 auto;
				width: calc(50% - 0.625rem);
			}
			dt {
				display: inline-flex;
				margin-bottom: rem-calc(20);
				font-family: $font-alternate;
				p {
					font-family: $font-alternate;
					font-weight: $text-normal;
					font-size: rem-calc(12);
					max-height: initial;
					height: auto;
					margin-top: auto;
					&:first-letter {
						font-family: $unicorns;
						font-size: rem-calc(40);
						font-weight: $text-bold;
						text-transform: uppercase;
						line-height: 0.5;
						float: left;
						margin-right: rem-calc(2);
						padding: rem-calc(4);
					}
				}
				&:nth-of-type(odd) {
					p {
						padding-right: rem-calc(20);
					}
				}
			}
	}
		&[data-gallery] {
			dt {
				p {
					overflow: hidden;
					max-height: 48px;
				}
			}
		}
	}

	/* Small Down */
	@media only screen and (max-width: 39.9375em) {
		dl > div {
			margin-bottom: rem-calc(32);
		}
		
		article {
			max-height: 33.334vh;
			p {
				display: none;
			}
		}
		.th {
			figcaption {
				margin-left: rem-calc(16);
				margin-right: auto;
			}
		}
	}
	
@media only screen and (max-width:782px) {
	body.admin-bar #colophon {
		> div {
			min-height: calc(100vh - 108px);
		}
		&:not(.collapsed) {
		  top: 108px;
		  height: calc(100vh - 108px);
		}
	}
}
		
	/* Medium Only */
	@media only screen and (min-width: 40em) and (max-width: 64.9375em) {
		.th {
			margin-bottom: rem-calc(16);
			figcaption {
				width: calc(66.6666% - 24px);
			  float: right;
			  display: inline;
			  padding: 0 0 0 rem-calc(10);
			}
			img {
				width: 33.3334%;
				display: inline-block;
			}
		}
		article {
			width: 248px;
			h5 {
				margin-top: auto;
				margin-bottom: auto;
				font-size: rem-calc(18);
			}
		}
		dl {
			width: calc(100% - 250px);
			min-height: 100vh;
		}
	}
	
	/* Medium Down */
	@media only screen and (max-width: 64.9375em){
		position: absolute;
		height: 200vh;
		> div {
			min-height: 50vh;
		}
	}
	
	/* Medium Up */
	@media only screen and (min-width: 40em) {
		article {
			padding: 4vh 2vw;
			p {
				&[data-href]:hover {
					border-bottom: dotted 1px;
				}
			}
		}
		
		.th {
			div {
				display: none;
			}
		}
					
		div:nth-child(even) {
			article {
				order: 2;
				border-left: solid rem-calc(2) $white;
			}
			dl {
				order: 1;
			}
		}
		
		dl {
			min-height: calc(100% - 4vh);
			padding: 2vh 1vw;
			> div {
				align-self: auto;
				padding: rem-calc(5);
			}
			&[data-gallery] {				
				> div {
					&:hover {
						dt {	
							color: $salmon;
						}
						dd {
							border-color: $salmon;
						}
					}
				  &:first-of-type dd {						  
						border-bottom-left-radius: 20px;
						border-top-right-radius: 20px;
					}
				  &:nth-of-type(2) dd {						  
						border-top-right-radius: 20px;
						border-top-left-radius: 20px;
					}
				  &:nth-of-type(3) dd {						  
						border-bottom-right-radius: 20px;
						border-top-left-radius: 20px;
					}
				  &:nth-of-type(4) dd {						  
						border-bottom-left-radius: 20px;
						border-top-left-radius: 20px;
					}
				  &:nth-of-type(6) dd {						  
						border-bottom-right-radius: 20px;
						border-top-right-radius: 20px;
					}
				  &:nth-of-type(7) dd {						  
						border-bottom-right-radius: 20px;
						border-top-left-radius: 20px;
					}
				  &:nth-of-type(8) dd {						  
						border-bottom-left-radius: 20px;
						border-bottom-right-radius: 20px;
					}
				  &:nth-of-type(9) dd {						  
						border-bottom-left-radius: 20px;
						border-top-right-radius: 20px;
					}
				}
			}
			&[data-journal] {				
				> div {
					flex: .5 1 auto;
					dt:hover {
						p:first-letter {
							color: $salmon;
						}
					}
				}
			}
		}
	}
	
	/* Large Up */
	@media only screen and (min-width: 65em){
		display: flex;
		> div {
			width: 50%;
		}
	
		dl {
			width: 63%;
			dt {
			  &:hover {
				  p {
						&:first-letter {
							color: $brand-secondary;
						}
						mark {
						  color: white;
							background: $brand-secondary;
						}
					}
				}
			}
		}
	
		article {
			width: calc(37% - 2px);
			h5 {
				margin-bottom: rem-calc(8);
				font-size: rem-calc(26);
				font-size: 2.03125vw;
			}
			.th {
				div {
					min-height: 52.5vh;
				}
			}
		}
	}
}