body {
	background-color: $brown;
}

blockquote p:last-of-type {
	margin-bottom: auto;
}

.screen-reader-text, 
[aria-hidden="true"] {
	display: none;
}


//Repeatables
.entry-header,
.entry-body,
.entry-content,
.entry-footer {
	position: relative;
	z-index: 1;
}

.site-footer, 
.title-bar {
	width: 100vw;
}

.site-header,
.site-footer {
	padding-left: rem-calc(8);
	padding-right: rem-calc(8);
}

.button,
button, 
input[type="submit"],
input[type="button"],
#nextBtn,	
nav.prev a,
nav.next a,
.off-canvas-content > a,
.off-canvas-content > .scrollmagic-pin-spacer a {
	display:inline-block;
	text-align:center;
	line-height:1;
	cursor:pointer;
	appearance:none;
	vertical-align:middle;
	border:1px solid transparent;
	border-radius:3px;
	padding:0.5em 1em;
	margin:0 0 1rem;
	font-size: 1rem;
	background-color:$brand-primary;
	color:$white;
	text-shadow: none;
	cursor: pointer;
}

//Wrapper
.off-canvas-wrapper-inner, 
.off-canvas-content {
	min-height: 100vh;
}

.off-canvas-wrapper {
	height: 100vh;
}

body.admin-bar .off-canvas-wrapper-inner, 
body.admin-bar .off-canvas-content {
	top: 32px;
}

.entry-header h1,
.entry-header h2 {
	.post-edit-link {
		font-size: 80%;
	}
	a {
		color: inherit;
	}
}

.entry-content {
	.entry-header, 
	.entry-body,
	.entry-footer {
		color: $white;
		text-shadow: 0 0 3px $black;
	}
	
	.entry-footer {
		nav {
			margin-left: rem-calc(-4);
			margin-right: rem-calc(-4);
		}
	}
	
	&.light {
		.entry-header, 
		.entry-body,
		.entry-footer {
			color: $cocoa;
		}
	}
}

.callout, 
.entry-content.light .entry-header,
.entry-content.light .entry-body,
.entry-content.light .entry-footer {
	text-shadow: 0 0 3px $white;
}

.callout h1, 
.callout h2, 
.entry-header h1, 
.entry-header h2 {
  letter-spacing: -1px;
  font-size: 2.75rem;
  font-weight: $text-black;
  margin-bottom: rem-calc(8);
}
  
//Entry Content : Entry Header	
.entry-header[data-background] {
	text-align: center;
}

//Entry Content
.entry-content {
  vertical-align: middle;
	width: 100%;
  border-bottom: solid 0.5vh $white;
  background: transparent;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	height: 100vh;
	
	&.format-image,
	&.format-standard {
		.entry-header,
		.entry-body,
		.entry-footer {
			padding: $row-padding;
		}
	}
	
	&.format-image .feature img {
		opacity: 1;
		order: 0;
		flex: 0 1 auto;
		align-self: center;
		height: auto;
		width: 100%;
		max-width: 320px;
		z-index: 1;
		box-shadow: 10px 20px 30px rgba(0,0,0,0.3);
	}
		
	&:not(.callout):not(.format-image) .feature {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		height: 100%;
		width: 100%;
		max-width: none;
		img {
			min-width: 100%;
			min-height: 100vh;
			width: auto;
		}
	}
	
	&.maakuw,
	&.author-maakuw,
	&.category-maakuw {
		text-align: left;
		border-bottom-color: $navy;
		background-position: top center;
		button, 
		.button {
			background-color: $salmon;
			border: solid 1px #1d2939;
			&:hover,
			&:focus {
				color: $black;
				background-color: $brand-secondary;
			}
			&:hover {
				border-color: $brand-secondary;
			}
		}
	}
	
	&.wolf,
	&.author-wolf, 
	&.category-wolf {
		border-bottom-color: $aluminum;
		.button {
		}
	}

	&:not(.table){
		display: table;
	  margin: auto 0;
	}
		
	.entry-body {
	  font-weight: $text-normal;
	  line-height: 1.25;
		p {
			line-height: inherit;
		}
	}
	
	.entry-footer {
		clear: both;
		margin-top: rem-calc(16);
	}

	ul:not(.inline-list) {
		list-style-type:disc
	}
	
	ol:not(.inline-list),
	ul:not(.inline-list) {
		margin-left:1.25rem
	}
	&:before {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		content: '';
		background-color: transparent;
	}
	
	&.active {
		.entry-header h1 {
			font-size: 2.25rem;
		}
		button.ellipsis,
		.button.ellipsis {
				background-color: rgba(255,255,255, 0.3);
		}
	}

	&.callout {
		height: calc(50vh + 2rem + 40px);
		background-position-y: top;
		background-color: #e7ae83;
		padding: rem-calc(16);

		&:not(#portfolios) {
			justify-content: flex-start;
		}
		
		h4 {
			text-transform: capitalize;
			font-weight: $text-black;
		}

		p {
			font-size: 1rem;
			&:last-of-type {
				margin-bottom: auto;
			}
		}

		&.user {
			.cell {
				padding: rem-calc(16);
			}
		}
		
		&.maakuw {
			color: $white;
			background-color: $black;
			figure {
				background-color: #729dd2;
				border-color: #333;
				background-position: center;
			}
			@media only screen and (max-width: 39.9375em) {
				> div {
					background-color: $black;
				}
		  }
		}
		
		&.wolf {
			background-color: #5a6072;
			h2 {
				font-family: $unicorns;
				font-weight: 100;
				font-size: rem-calc(72);
			}
			figure {
				border-color: #4e448d;
			}
		}
	
		&:first-child {
			padding-top: 4.75rem;
		}
		&:not(#portfolios) {
			min-height: 75vh;
			z-index: 3;
			color: $white;
		}
		figure {
			height: 100%;
			background-size: cover;
			@media only screen and (min-width: 40em) {
				border: solid 1px $brown;
				background-color: $brown;
				box-shadow: 0 0 50px rgba(0,0,0,0.3) inset;
			}
		}
		> div * {
			text-shadow: none;
		}
		@media only screen and (max-width: 39.9375em) {
			figure {
				height: 100%;
				width: 100%;
				max-width: initial;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			&.user > div {
				padding: rem-calc(10);
				background-color: $black;
			}
	  }
		
		button,
		.button {
			background-color: rgba($brand-secondary, 0.3);
			border: solid 2px $white;
			color: $white;
			box-shadow: 2px 2px 10px rgba($brown, 0.4),
									1px 1px 5px rgba($brown, 0.2) inset;
			text-shadow: -1px -1px 1px rgba($brown, 0.3);
			font-weight: 900;
			text-transform: uppercase;
			&:hover,
			&:focus {
				background-color: $brand-secondary;
			}
	  }
		a {
			color: inherit;
		}
		.feature {
			position: absolute;
		}
	}
}

#nextBtn {
	margin: auto;
	padding: 0;
	&:focus {
		outline: none;
	}
}

/* Small Only */
@media only screen and (max-width:39.9375em) {
	cite {
		right: 0.875rem;
	  bottom: 0.5rem;
	}
	
	.entry-header h1,
	.entry-header h2 {
		line-height: 1;
	  text-shadow: 0 0 0.5rem rgba(0,0,0,0.6);
	}
		.entry-content.light .entry-header h1,
		.entry-content.light .entry-header h2 {
		  text-shadow: 0 0 0.5rem rgba(255,255,255,0.6);
		}
	
	body:not(.single-post) .entry-header h1,
	body:not(.single-post) .entry-header h2 {
	  margin-top: calc(22.5vh + 2rem);
	}
		body:not(.single-post) .format-standard .entry-header h1,
		body:not(.single-post) .format-standard .entry-header h2 {
		  margin-top: calc(20vh + 2rem);
		}
		body:not(.single-post) .format-image .entry-header h1,
		body:not(.single-post) .format-image .entry-header h2 {
		  margin-top: 1.5rem;
		}
	 
	.format-image {
		.feature {
			margin: 1.75rem auto;
			float: none;
			position: relative;
			text-align: center;
			background-image: none !important;
			img {
		  	opacity: 1;
		  	margin: auto;
				border: solid 4px $white;
			}
		}
	}
	
	.callout {
		&#portfolios {
			padding: 3rem 4rem;
		}
		
		&.user {
			h1,
			h2 {
				font-size: 9.5vw;
			}
			&.wolf {
				color: $white;
				background-color: #8c8b9c;
				figure {
					background-color: #c8c8c8;
					@media only screen and (min-width: 40em) {
						border-color: #3e3f5e;
					}
				}
				@media only screen and (max-width: 39.9375em) {
					> div {
						background-color: #8c8b9c;
					}
			  }
				.cell {
					margin-left: 0;
					padding-left: rem-calc(16);
					padding-right: rem-calc(16);
				}
			}
		}
		
		.table {
			display: block;
			z-index: 1;
			.column:not(:last-child),
			.columns:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}

/* Medium Down */
@media only screen and (max-width:64.9375em) {
	.show-for-large {
		display:none!important
	}
	main > a,
	
	nav.prev a,
	nav.next a, 
	.off-canvas-content > a {
		width: 100%;
		margin: auto;
	}
}

/* Phablet Up */
@media only screen and (min-width:26.3125em) {
	.maakuw.callout {
	  background-position-x: right;
	}
	.wolf.callout {
	  background-position-x: left;
	}
}

/* Wordpress Specific Breaks */
@media only screen and (min-width: 421px) and (max-width: 640px) {
	.callout.user .cell {
		max-width: 100%;
		width: 100%;
		margin-top: auto;
	}
}
@media only screen and (max-width:782px) {
	body.admin-bar .off-canvas-wrapper-inner, 
	body.admin-bar .off-canvas-content,
	body.admin-bar [data-stick-to] {
		top: rem-calc(46);
	}
}

/* Medium Only */
@media only screen and (min-width:40em) and (max-width:64.9375em) {
	.entry-header {
		h1,
		h2 {
			line-height: 1.0625;
		}
	}
	
	.entry-body h3 {
		font-size: 3.75vw;
	}
		body:not(.single) .entry-header h1,
		body:not(.single) .entry-header h2 {
	  	margin-top: calc(33vh + 5.375rem/2.25);
	  }	
			body:not(.single-post) .entry-content.active .entry-header h1,
			body:not(.single-post) .entry-content.active .entry-header h2 {
			  margin-top: calc(22.5vh + 2rem);
			}

	#content > a:not(:first-child) {
		right: 0;
	}
}

/* Medium Up */
@media only screen and (min-width:40em) {
	blockquote, 
	blockquote p {
		font-size: 1.5rem;
	}
	
	blockquote {
  	margin-bottom: 8.75vh;
  }

  cite {
  	font-size: 4.75vw;
  }
	
	.entry-header,
	.entry-body,
	.entry-footer {
	  padding: 0 7.5vw;
	}
	
	.button.ellipsis {
		display: inline-block;
	}
	
	.entry-body.project {
		max-height: 0;
		min-height: 0;
	  overflow: hidden;
	  opacity: 0;
	}
	
	.format-image {
		.entry-header,
		.entry-body {
			width: 50%;
			margin-left: 0;
		}
	
		.feature {
			position: absolute;
			width: 50%;
			height: 100%;
			right: 0;
			overflow: hidden;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: stretch;
			background-color: #3e150f;
			background-image: none !important;
		  &:before,
		  &:after {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: block;
				width: 100%;
				height: 100%;
			}
		  &:before {
				background-color: rgba(0,0,0,0.3);
			}
	 		&:after {
			  box-shadow: 0 0 20px $black inset;
			}
		}
	}

	.entry-footer .button[data-href] {
		opacity: 0;
		transform: scale(0.95);
	}
  
	#nextBtn,
	nav.prev a,
	nav.next a, 
	.off-canvas-content > a,
	.off-canvas-content > .scrollmagic-pin-spacer a {
	  display: block;
	  z-index: 10;
	  opacity: 1;
	  line-height: 2rem;
  }  
  
		button:focus, 
		button:hover, 
		.button.primary:focus,
		.button.primary:hover, 
		.button:hover, 
		.button:focus, 
		input[type="submit"]:focus, 
		input[type="submit"]:hover, 
		input[type="button"]:focus, 
		input[type="button"]:hover,
		#nextBtn:hover,
		.off-canvas-content > a:hover,
		.off-canvas-content > .scrollmagic-pin-spacer a:hover {
			color: $white;
			background-color:$brand-secondary; 
		}
		
		button.secondary:focus,
		button.secondary:hover, 
		.button.secondary:focus,
		.button.secondary:hover {
			color: $cocoa;
			background-color:#cddc39;
		}
  #nextBtn {
	  position: fixed;
	  width: 4rem;
	  height: 1.5rem;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  font-size: rem-calc(16);
	  border-radius: rem-calc(16);
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	  box-shadow: 0 -0.25vh 2px rgba(0,0,0,0.3);
		&.disabled {
	  	bottom: -2rem;
	  	opacity: 0;
	  }
	 }
	 
	#nextBtn .fa, #nextBtn .lnr, 
	nav.prev a .fa, nav.prev a .lnr,
	nav.next a .fa, nav.next a .lnr, 
  .off-canvas-content > a .fa, .off-canvas-content > a .lnr, 
  .off-canvas-content > .scrollmagic-pin-spacer a .fa, 
  .off-canvas-content > .scrollmagic-pin-spacer a .lnr {
		font-size: rem-calc(24);
		line-height: 1.1875;
	}
	nav.prev a .fa,
	nav.prev a .lnr,
	nav.next a .fa, 
	nav.next a .lnr, 
  .off-canvas-content > a .fa, 
  .off-canvas-content > a .lnr {
		line-height: 2.5;
		&[class*="-angle-left"] {
			margin-left: rem-calc(-4);
		}
		&[class*="-angle-right"] {
			margin-right: rem-calc(-4);
		}
	}
}

/* Medium Down */
@media only screen and (max-width:64.9375em) {
	.user.wolf.callout {
		background-position: left center;
	}
	#content .entry-content:nth-child(odd) {
		background-attachment: initial;
	}
	.entry-content .entry-footer {
		.ellipsis.button {
			display: none;
		}
	}	
}

/* Large Up */
@media only screen and (min-width:65em) {	
	body.home {
		.entry-header,
		.entry-body,
		.entry-footer {
			margin-left: rem-calc(16);
			margin-right: rem-calc(16);
		}
	}
	
	.hide-for-large {
		display:none!important
	}
	nav.prev a,
	nav.next a, 
	.off-canvas-content > a,
	.off-canvas-content > .scrollmagic-pin-spacer a {
		position: fixed;
	}
	
	.entry-header, 
	.entry-body,
	.entry-footer {
	  padding: 0 10vw;
	}
	
	.title-bar-right a, 
	.user h1, .user h2, .user p, 
	.entry-header p,
	.entry-body, 
	.entry-footer,
	.entry-footer button,
	.entry-footer .button {
		opacity: 0;
	}
	
		body.loaded .user h1, 
		body.loaded .user h2, 
		body.loaded .user p, 
		.single .entry-body, 
		#masthead.enter .title-bar-title, 
		body.loaded .title-bar-right a, 
		.home #content.enter .entry-header,
		.maakuw #content.enter .entry-header,
		.wolf.loaded .entry-header,
		.home.loaded #content > :first-child .entry-header p, 
		.home #content.enter .entry-body, 
		.maakuw #content.enter .entry-body, 
		.archive.loaded:not(.maakuw) .entry-body, 
		.home.loaded #content > :first-child .entry-body, 
		#content.enter .entry-footer,
		#content.enter .entry-footer button,
		#content.enter .entry-footer .button {
			opacity: 1;
		}
		
	.entry-header,
	.entry-footer,
	.entry-body {
		margin-left: -3rem;
	}
	.entry-body {
		font-size: 1.875vw;
	}
		.entry-content.active .entry-body {
			max-height: 35vh;
		}
			.entry-content.format-gallery.active .entry-body {
				max-height: 55vh;
			}
		
	.callout h1, 
	.callout h2, 
	.entry-header h1,
	.entry-header h2 {
		font-size: 3.25vw;
	  line-height: 1.125;
	}
	body:not(.single-post) .entry-header h1,
	body:not(.single-post) .entry-header h2 {
	  margin-top: calc(33vh + 5.375rem/2.25);
	}
		.entry-content.active .entry-header h1, 
		.entry-content.active .entry-header h2 {
			font-size: 3.5vw;
		}
			.entry-content.format-gallery.active .entry-header h1, 
			.entry-content.format-gallery.active .entry-header h2 {
		  	margin-top: 17.25vh;
		  }

	.entry-footer button,
	.entry-footer .button {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
		#content.enter .entry-footer button,
		#content.enter .entry-footer .button {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
		  
 .format-image .entry-header,
 .format-image .entry-body {
 		width: 66.6666%;
 }
	.format-image .feature {
   width: 33.3334%;
   img {
			height: 60%;
			width: auto;
			max-width: 100%;
		}
  }
  
  .callout {
		height: 50vh;
		background-size: auto calc(50vh + 2rem + 40px);
/*		background-size: 100vw;*/
	}
	
	#content {
		.entry-content {
			&:not(.callout) {
				&:hover {
					.entry-body {
						opacity: 1;
					}
					&:before {
						background-color: rgba($cocoa, 0.3);
						box-shadow: 0 0 500px $black inset,
												0 0 250px rgba($cocoa, 0.6) inset;
					}
				}
			}
			
			&:nth-child(odd) {
				background-attachment: fixed;
			}
		}
		
		> nav {
			a {
				top: calc(50vh - 25px);
				z-index: 2;
				width: 1.5rem;
				height: 4rem;
				border-radius: 1rem;
				margin: auto;
				line-height: 4rem;
				text-align: center;
				padding: 0;
			}
			
			&.prev a {
				left: -2rem;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
			
			&.next a {
				right: -2rem;
			  border-bottom-right-radius: 0;
			  border-top-right-radius: 0;
			}
		}
		&.enter {
			> nav {
				&.next a {
					right: 0;
				}
				&.prev a {
					left: 0;
				}
			}
		}
	}
	
	.user.maakuw .cell{
	  margin-left: 10%;
	}
	.user.wolf .cell{
	  margin-right: 10%;
	}
	
}