/* This looks to be a typo AND deprecated?
.home.entry-content.active .entry-header h1 {
	font-size: 9vw;
}
*/
.home {
	.entry-content {
		background-position: center;
		#portfolios {
			background-size: cover;
		}
		&:first-child {
			h2 {
				font-size: 1.5rem;
				margin-top: 0.5rem;
			}
		}
		&.callout:not(#portfolios) {
			padding: 1rem;
			height: calc(50vh - 2rem);
			background-position: center bottom;
		}
		h2 {
			text-align: center;
/*			font-size: 1.75rem;
			line-height: 1;*/
		}

		.entry-header {
			h1 {
				text-align: center;
				font-weight: $text-normal;
				.unicorns {
					font-size: 3.5rem;
				}
			}
		}
		
		.entry-body {
			h3, p {
				text-align: center;
			}
		}

		/* Small Only */
		@media only screen and (max-width:39.9375em) {	
			h2 {
			  margin-left: 3.75vw;
				margin-right: 3.75vw;
				font-size: 2.25rem;
		  }
		}
		
		/* Medium Up */
		@media only screen and (min-width:40em) {
			&.callout {
				height: calc(40vh - 2rem);
			}
		}
		
		/* Large Up */
		@media only screen and (min-width:65em) {
			.entry-body {
				margin-right: auto;
			}
			/*
			h2 {
				font-size: 2.5vw;
			}*/
			&:first-child h2 {
				font-size: 2vw;
			}
			.entry-header h1 .unicorns {
				font-size: 6vw;
			}
		}
	}
}