.home {
	.entry-content {
		background-position: center;
		&#portfolios {
			background-size: cover;
			h2 {
				position: relative;
				&:after {
					position: absolute;
					content: '';
					height: rem-calc(4);
					left: 30%;
					right: 30%;
					bottom: rem-calc(-10);
					margin: auto;
					background-color: white;
					box-shadow: 0 0 0.5rem #8c3727;
				}
			}
			h2, h4, p {
				color: $white;
				text-shadow: 0 0 0.5rem #8c3727;
			}
		}
		&:first-child {
			h2 {
				font-size: 1.5rem;
				margin-top: 0.5rem;
			}
		}
		&.callout:not(#portfolios) {
			padding: 1rem;
			height: calc(50vh - 2rem);
			background-position: center bottom;
		}
		&.lonsadmin,
		&.category-lans:not(.project),
		&.wolf {
			h2 {
				text-align: center;
	/*			font-size: 1.75rem;
				line-height: 1;*/
			}
		}
		
		&.maakuw {	
			.entry-body {
				max-width: 70%;
				p {
					text-align: left;
				}
			}
		}

		.entry-header {
			h1 {
				text-align: center;
				font-weight: $text-normal;
				.unicorns {
					font-size: 3.5rem;
				}
			}
		}
		
		.entry-body {
			h3, p {
				text-align: center;
			}
		}

		/* Small Only */
		@media only screen and (max-width:39.9375em) {
			&:not(.category-maakuw):not(.category-wolf) {
				h2 {
					font-size: 2.25rem;
			  }
			}
			.entry-header h1 {
				font-size: 15.5vw;
				line-height: 1.06875;
				.unicorns {
					font-size: 27vw;
				}
			}
		}
		
		/* Medium Down */
		@media only screen and (max-width:64.9375em) {
			&#portfolios {
				h2 {
					margin-bottom: rem-calc(40);
				}
			}
		}
		
		/*Medium Only */
		@media only screen and (min-width: 40em) and (max-width: 64.9375em) {			
			&.active {
				.entry-body {
					max-height: 50vh;
				}
				.entry-header {
					h1 {				
						font-size: 7.5vw;
						.unicorns {
							font-size: 11.5vw;
						}
					}
				}
			}
		}
		
		/* Medium Up */
		@media only screen and (min-width:40em) {
			&.callout {
				height: calc(40vh - 2rem);
			}
		}
		
		/* Large Up */
		@media only screen and (min-width:65em) {
			&.format-link,
			&.format-standard,
			&.format-status,
			&.format-aside {
				h2 {
					font-size: 3.5vw;
				}
			}
			&:first-child h2 {
				font-size: 2vw;
			}
			.entry-header h1 .unicorns {
				font-size: 6vw;
			}
		}
	}
}