$limg-border : 0.375vh $white solid;
$gshadow: #59b3c6;

/* Instagram */
#lans_instagram {
	height: auto;
	.th {
		display: block;
		height: 100%;
		img {
			 	opacity: 0;
		}
		+ figcaption {
		  position: absolute;
			top: 50%;
		  left: calc(50% - 8.125rem);
			width: 16.25rem;
		  max-width: 16.25rem;
		  padding: rem-calc(16);
			border: solid 1px $black;
		  border-top-right-radius: 0.5rem;
		  border-bottom-left-radius: 0.5rem;
		  color: $white;
		  text-shadow: 0 0 0.25rem $black;
		  text-align: center;
			background-color: rgba(33, 13, 5, 0.7);
			box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.3) inset;
			p {
		 		font-size: 0.875rem;
		 		&:last-child {
					margin-bottom: auto;
				}
			}
		}
	}
}	

#lans_images {
	margin: auto;
  border-left: $limg-border;
	border-right: $limg-border;
	li {
		height: 50vh;
  	border: $limg-border;
  	list-style: none;
		background-size: cover;
	}
	figure {
		display: table;
		width: 100%;
		height: inherit;
	}
	.hash {
		display: inline-block;
		color: #df83ef;
  }
}		
 
 /* Social Widgets */
.social-widget {
	top: 7vh;
	right: 0;
	z-index: 10;
	height: calc(100% - 7vh);
	background-size: cover;
	
	&.active figure {
		height: rem-calc(24);
	}
	
	&:not(.active) {
		width: 0;
		figure div {
		  width: 0;
		  height: 0;
		  border-width: 0; 
		}
		figcaption p {
			opacity: 0;
		}
	}
	.feature {
		width: auto;
		height: 0;
	}
	figure {
		height: 0;
		background-color: $white;
		div {
		  overflow: hidden;
			top: -0.875rem;
			left: -0.5rem;
			width: 3rem;
			height: 3rem;
		  border-radius: 10rem;
		  border-color: $white;
			border-style: solid;
		}
	}
	figcaption {
		padding: 0.25rem;
		font-size: 0.75rem;
		p {
			margin-left: 3.5rem;
			margin-bottom: 0.125rem;
		}
	}
	
	p {
		padding: 0 0.625rem;
		font-size: 0.875rem;
	}
}
		
 /* Tweets */
.archive {
	a[href*="twitter-feed"] {
		display: none;
	}
}

.tweets {
	height: 100%;
	padding-top: 0.75rem;
	border-left-style: solid;
	color: #fff;
	font-size: 0.875rem;
	background: rgba(0, 0, 0, 0.3);
	p {
	 	font-size: inherit;
	}
}

.badge {
	width: 5rem;
  height: 5rem;
  background-color: #800080;
  border-radius: 5rem;
  padding: 1rem;
  font-size: 0.75rem;
  color: $white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: solid 1px $white;
}

.twitter-hashtag {
	color: #df83ef;
}

/* Gallery */
.gallery {
  @include flexible(flex-start);
  width: 100%;
  max-height: initial;
  margin: 1.25% -0.1875rem;
}

.gallery-item {
	position: relative;
	width: 30.8334%;
	max-width:rem-calc(75);
	overflow: hidden;
  margin: 1.25%;
  box-shadow: 0 0 2px $gshadow, 
  						0 0 2px $gshadow, 
  						0 0 2px $gshadow;
  &:hover {
		figcaption {
			opacity: 1;
		}
	}
	figcaption {
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: rem-calc(10);
		top: 0;
		padding: rem-calc(5);
		background-color: rgba(0,0,0,0.6);
		text-align: center;
		display: flex;
		align-items: center;
		align-content: center;
		pointer-events: none;
	}
	.gallery-icon {
		a {
			display: block;
		}
	}
}

/* Vignettes */
.vignette {
	position: relative;
	&:after {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		content: '';
		box-shadow: 0 0 4rem rgba($black,0.6) inset;
	}
}

/* Small Only */
@media only screen and (max-width:39.9375em) {
	.social-widget > * {
		border-left-style: none;
	}
}

/* Medium Only */
@media only screen and (min-width:40em) and (max-width:64.9375em) {
	.social-widget > * {
		width: 50vw;
	}
	main.social-active .entry-content {
		width: 50vw;
	}
  #lans_images li:nth-of-type(3){
	  display: none;
	}
}
/* Medium Up */
@media only screen and (min-width:40em) {
		main.social-active #nextBtn {
			right: calc(62.5% - 1.5rem);
		}
	.tweets dt {
	  text-align: right;
	}
	
	#lans_images {
		li {
			height: auto;
		}
	}
	
	#lans_instagram {
		.th {
			height: calc(65vh - 1rem);
		}
		
		li:nth-of-type(1) figcaption {
		  left: 2rem;
			top: 25%;
	  }
		
		li:nth-child(even) figcaption {
		  top: initial;
		  bottom: 25%;
	  }
		
		li:nth-of-type(3) figcaption {
		  right: 2rem;
		  left: initial;
		}
	}
}

/* Large Up */
@media only screen and (min-width:65em) {	
	.entry-content.format-gallery.active .entry-body {
		max-width: none;
	}
	
	.social-widget > * {
		width: 100%;
	}
	
	main {
		&.social-active {
			.entry-body {
			margin-right: 0;
		}
			.entry-content {
				width: 75vw;
			}
		}
	}
	.gallery {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}
	.gallery-item {
		width: 22.5%;
		max-width: 150px;
		a:hover img {
			transform: scale(1.5);
			-webkit-transform: scale(1.5);
			-o-transform: scale(1.5);
			-moz-transform: scale(1.5);
		}
	}
	
}