//Colors
$brand-primary: #59b3c6;
$brand-secondary: #ff5722;
$white: #ffffff;
$black: #000000;
$brown: #89462a;
$cocoa: #3e1f14;
$silver: #cacaca;
$steel: #5a6072;
$aluminum: #f2f2f2;
$dark-grey: #9a9489;
$navy: #d2e5eb;
$hot-pink: #e65070;
$salmon: #e65f50;

//Font
$text-light: 100;
$text-normal: 300;
$text-bold: 400;
$text-black: 900;

$font-default: Roboto, HelveticaNeue, Arial, sans-serif;
$font-alternate: Roboto Slab, serif;
$chava: 'chava';
$unicorns: 'unicorns';

//Margin/Padding
$row-padding: 0 7.5vw;