//Colors
$brand-primary: #59b3c6;
$brand-secondary: #ff5722;
$white: #ffffff;
$black: #000000;
$brown: #89462a;
$cocoa: #3e1f14;
$silver: #cacaca;

//Font
$text-light: 100;
$text-normal: 300;
$text-bold: 400;
$text-black: 900;

$font-default: Roboto, HelveticaNeue, Arial, sans-serif;
$font-alternate: Roboto Slab;
$chava: 'chava';
$unicorns: 'unicorns';

//Margin/Padding
$row-padding: 0 7.5vw;