/*Add to the styles.css */
.icon svg {
	width: 100%;
}
svg .transparent {
	fill: transparent;
}
/*Standalone*/
/*Prior Treatment icon (Medical icon in a circle with an arrow)*/
svg#chronic, 
svg#malignancies, 
svg#prior-treatment,
svg#platinum-treatment,
svg#pregnancy {
  -webkit-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -o-transform: scale(1.75);
  transform: scale(1.75);
}
svg#biopsy,
svg#coin,
svg#heart,
svg#test_tube {
  -webkit-transform: scale(1.3125);
  -moz-transform: scale(1.3125);
  -o-transform: scale(1.3125);
  transform: scale(1.3125);
}
svg#criteria {
  -webkit-transform: scale(1.3125);
  -moz-transform: scale(1.3125);
  -o-transform: scale(1.3125);
  transform: scale(1.3125);
}
svg#inhibitor {
  -webkit-transform: scale(1.4375);
  -moz-transform: scale(1.4375);
  -o-transform: scale(1.4375);
  transform: scale(1.4375);
}
svg#collaborators {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
  transform: scale(1.25);
}
	svg#collaborators g.grow {
	  -moz-transform-origin: center;
	  transform-origin: center;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
		svg#collaborators g.grow path {
		  -moz-transform-origin: center;
		  transform-origin: center;
		  stroke: #f5bd29;
		  stroke-width: 3px;
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
	  }
	svg#inhibitor > *, 
	svg#prior-treatment path {
	  fill: white;
	}
	svg#prior-treatment circle {
		fill: transparent;
	}
	
.animate .cough .mask {	
	-webkit-animation: pulse 3s linear 1;
	-moz-animation: pulse 3s linear 1;
	-o-animation: pulse 3s linear 1;
	animation: pulse 3s linear 1;
}

.animate .cough .eye {
	transform-origin: right;
	-webkit-animation: wink 3s linear 1;
	-moz-animation: wink 3s linear 1;
	-o-animation: wink 3s linear 1;
	animation: wink 3s linear 1;
}
.animate .cough .eye.left {
	transform-origin: left;
	-webkit-animation: lwink 3s linear 1;
	-moz-animation: lwink 3s linear 1;
	-o-animation: lwink 3s linear 1;
	animation: lwink 3s linear 1;
}

.animate .draw:nth-child(even) {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	-o-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.animate .draw:nth-child(3) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 0.5s;
}
.animate .draw:nth-child(4) {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 0.75s;
}
.animate .draw:nth-child(5) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 1s;
}
.animate .draw:nth-child(6) {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 1.25s;
}
svg#collaborators .slideLeft {
	-webkit-transform: translate(10px,14px);
	-moz-transform: translate(10px,14px);
	-o-transform: translate(10px,14px);
	transform: translate(10px,14px); 
}
svg#collaborators .slideRight {
	-webkit-transform: translate(-10px,14px);
	-moz-transform: translate(-10px,14px);
	-o-transform: translate(-10px,14px);
	transform: translate(-10px,14px); 
}
	.animate svg#collaborators .slideLeft {
		opacity: 0;
		-webkit-animation: slideL 3s linear 1;
		-moz-animation: slideL 3s linear 1;
		-o-animation: slideL 3s linear 1;
		animation: slideL 3s linear 1;
	}
	.animate svg#collaborators .slideRight {
		opacity: 0;
		-webkit-animation: slideR 3s linear 1;
		-moz-animation: slideR 3s linear 1;
		-o-animation: slideR 3s linear 1;
		animation: slideR 3s linear 1;
	}
	
	.animate svg#collaborators .grow {
		-webkit-animation: grow 3s linear 1;
		-moz-animation: grow 3s linear 1;
		-o-animation: grow 3s linear 1;
		animation: grow 3s linear 1;
	}
	

/* Animation REUSABLE */
	.pulsation {
		opacity: 0;
	}
	
	.animate svg * {
		overflow: hidden;
	  -moz-transform-origin: center;
	  transform-origin: center;
	}
	
	.animate svg *.draw {
		opacity: 0;
	  -moz-transform-origin: left;
	  transform-origin: left;
	}
	
	.animate svg .droplet {
	  -moz-transform-origin: top;
	  transform-origin: top;
	 }
	
	.animate .blink {
		-webkit-animation: blink 3s linear 1;
		-moz-animation: blink 3s linear 1;
		-o-animation: blink 3s linear 1;
		animation: blink 3s linear 1;
	}
	
	.animate .bubble {
		-webkit-animation: bubble 3s linear 1;
		-moz-animation: bubble 3s linear 1;
		-o-animation: bubble 3s linear 1;
		animation: bubble 3s linear 1;
	}
	
	.animate .draw {
		opacity:1;
		-webkit-animation: draw 3s linear 1;
		-moz-animation: draw 3s linear 1;
		-o-animation: draw 3s linear 1;
		animation: draw 3s linear 1;
	}
	
	.animate .drop {
		opacity:0;
		-webkit-animation: drop 3s linear 1;
		-moz-animation: drop 3s linear 1;
		-o-animation: drop 3s linear 1;
		animation: drop 3s linear 1;
	}
	
	.animate .flip {
		-webkit-animation: flip 3s linear 1;
		-moz-animation: flip 3s linear 1;
		-o-animation: flip 3s linear 1;
		animation: flip 3s linear 1;
	}
	
	.animate .pump {
		-webkit-animation: pump 3s linear 1;
		-moz-animation: pump 3s linear 1;
		-o-animation: pump 3s linear 1;
		animation: pump 3s linear 1;
	}
	
	.animate .pulsation {
		-webkit-animation: pulsation 3s linear 1;
		-moz-animation: pulsation 3s linear 1;
		-o-animation: pulsation 3s linear 1;
		animation: pulsation 3s linear 1;
	}
	
	.animate .rock {
		-webkit-animation: rock 3s linear 1;
		-moz-animation: rock 3s linear 1;
		-o-animation: rock 3s linear 1;
		animation: rock 3s linear 1;
	}
	
	.animate .rotation {
		-webkit-animation: rotation 3s linear 1;
		-moz-animation: rotation 3s linear 1;
		-o-animation: rotation 3s linear 1;
		animation: rotation 3s linear 1;
	}
	
	.animate .saw {
		stroke: white;
		stroke-dasharray: 10px;
		stroke-dasharray: 0.625rem;
		-webkit-animation: saw 25s linear 1;
		-moz-animation: saw 25s linear 1;
		-o-animation: saw 25s linear 1;
		animation: saw 25s linear 1;
	}
	
	.animate .throb {
		-webkit-animation: throb 3s linear 1;
		-moz-animation: throb 3s linear 1;
		-o-animation: throb 3s linear 1;
		animation: throb 3s linear 1;
	}
	
	.animate .waggle {
		-webkit-animation: waggle 3s linear 1;
		-moz-animation: waggle 3s linear 1;
		-o-animation: waggle 3s linear 1;
		animation: waggle 3s linear 1;
	}
	
	.animate [class*="reverse"] {
    animation-direction: reverse;
  }
	
	.animate .fastest,
	.animate .bubble.fastest,
	.animate .drop.fastest,
	.animate .flip.fastest,
	.animate .throb.fastest,
	.animate .pulsation.fastest,
	.animate .rotation.fastest,
	.animate .rotation.reverse.fastest {
		-webkit-animation-duration: 375ms;
		-moz-animation-duration: 375ms;
		-o-animation-duration: 375ms;
		animation-duration: 375ms;
	}
	
	.animate .faster,
	.animate .bubble.faster,
	.animate .drop.faster,
	.animate .flip.faster,
	.animate .throb.faster,
	.animate .pulsation.faster
	.animate .rotation.faster,
	.animate .rotation.reverse.faster {
		-webkit-animation-duration: 750ms;
		-moz-animation-duration: 750ms;
		-o-animation-duration: 750ms;
		animation-duration: 750ms;
	}
	
	.animate .fast,
	.animate .bubble.fast,
	.animate .drop.fast,
	.animate .flip.fast,
	.animate .throb.fast,
	.animate .pulsation.fast
	.animate .rotation.fast,
	.animate .rotation.reverse.fast {
		-webkit-animation-duration: 1.5s;
		-moz-animation-duration: 1.5s;
		-o-animation-duration: 1.5s;
		animation-duration: 1.5s;
	}
	
	.animate .slow,
	.animate .bubble.slow,
	.animate .drop.slow,
	.animate .flip.slow,
	.animate .throb.slow, 
	.animate .pulsation.slow,
	.animate .rotation.slow,
	.animate .rotation.reverse.slow {
		-webkit-animation-duration: 6s;
		-moz-animation-duration: 6s;
		-o-animation-duration: 6s;
		animation-duration: 6s;
	}
	
	.animate .slower,
	.animate .bubble.slower,
	.animate .drop.slower,
	.animate .flip.slower,
	.animate .throb.slower,
	.animate .pulsation.slower,
	.animate .rotation.slower,
	.animate .rotation.reverse.slower {
		-webkit-animation-duration: 9s;
		-moz-animation-duration: 9s;
		-o-animation-duration: 9s;
		animation-duration: 9s;
	}
	
	.animate .slowest,
	.animate .bubble.slowest,
	.animate .drop.slowest,
	.animate .flip.slowest,
	.animate .throb.slowest,
	.animate .pulsation.slowest,
	.animate .rotation.slowest,
	.animate .rotation.reverse.slowest {
		-webkit-animation-duration: 12s;
		-moz-animation-duration: 12s;
		-o-animation-duration: 12s;
		animation-duration: 12s;
	}
	
	@keyframes blink {
		0% { 
			-webkit-transform: scaleY(1);
			-moz-transform: scaleY(1);
			-o-transform: scaleY(1);
			transform: scaleY(1); }
		90% { 
			-webkit-transform: scaleY(1);
			-moz-transform: scaleY(1);
			-o-transform: scaleY(1);
			transform: scaleY(1); }
		95% {
			-webkit-transform: scaleY(0);
			-moz-transform: scaleY(0);
			-o-transform: scaleY(0);
			transform: scaleY(0);}
		100% {
			-webkit-transform: scaleY(1);
			-moz-transform: scaleY(1);
			-o-transform: scaleY(1);
			transform: scaleY(1);}
	}
	
	@keyframes bubble {
		0% { 
			opacity: 1;
			-webkit-transform: scale(0.5) translateY(800%);
			-moz-transform: scale(0.5) translateY(800%);
			-o-transform: scale(0.5) translateY(800%);
			transform: scale(0.5) translateY(800%); }
		25% { 
			opacity: 0.25;
			-webkit-transform: scale(0.75) translateY(400%);
			-moz-transform: scale(0.75) translateY(400%);
			-o-transform: scale(0.75) translateY(400%);
			transform: scale(0.75) translateY(400%); }
		50% { 
			opacity: 0.5;
			-webkit-transform: scale(1) translateY(0);
			-moz-transform: scale(1) translateY(0);
			-o-transform: scale(1) translateY(0);
			transform: scale(1) translateY(0); }
		75% {
			opacity: 0.75;
			-webkit-transform: scale(1.25) translateY(-400%);
			-moz-transform: scale(1.25) translateY(-400%);
			-o-transform: scale(1.25) translateY(-400%);
			transform: scale(1.25) translateY(-400%); }
		100% {
			opacity: 0;
			-webkit-transform: scale(1.5) translateY(-600%);
			-moz-transform: scale(1.5) translateY(-600%);
			-o-transform: scale(1.5) translateY(-600%);
			transform: scale(1.5) translateY(-600%); }
	}
	
	@keyframes draw {
		0% { 
			opacity:0;
			-webkit-transform: scaleX(0);
			-moz-transform: scaleX(0);
			-o-transform: scaleX(0);
			transform: scaleX(0); }
		10% { 
			opacity:1;
			-webkit-transform: scaleX(1);
			-moz-transform: scaleX(1);
			-o-transform: scaleX(1);
			transform: scaleX(1); }
		50% { 
			opacity:1;
			-webkit-transform: scaleX(1);
			-moz-transform: scaleX(1);
			-o-transform: scaleX(1);
			transform: scaleX(1); }
		70% { 
			opacity:0; }
		99.9% { 
			-webkit-transform: scaleX(1);
			-moz-transform: scaleX(1);
			-o-transform: scaleX(1);
			transform: scaleX(1); }
		100% { 
			-webkit-transform: scaleX(0);
			-moz-transform: scaleX(0);
			-o-transform: scaleX(0);
			transform: scaleX(0); }
	}
	
	@keyframes drop {
		0% {
			opacity:0;
			-webkit-transform: scale(0.2) translateY(0);
			-moz-transform: scale(0.2) translateY(0);
			-o-transform: scale(0.2) translateY(0);
			transform: scale(0.2) translateY(0); }
		10% { 
			opacity:1;
			-webkit-transform: scale(1) translateY(0);
			-moz-transform: scale(1) translateY(0);
			-o-transform: scale(1) translateY(0);
			transform: scale(1) translateY(0); }
		97.5% { 
			opacity:1;
			-webkit-transform: scale(1) translateY(230%);
			-moz-transform: scale(1) translateY(230%);
			-o-transform: scale(1) translateY(230%);
			transform: scale(1) translateY(230%); }
		100% { 
			opacity:0;
			-webkit-transform: scaleY(0.2) translateY(600%);
			-moz-transform: scaleY(0.2) translateY(600%);
			-o-transform: scaleY(0.2) translateY(600%);
			transform: scaleY(0.2) translateY(600%); }
	}
	
	@keyframes flip {
		15% { 
			-webkit-transform: scaleX(1);
			-moz-transform: scaleX(1);
			-o-transform: scaleX(1);
			transform: scaleX(1); }
		20% { 
			-webkit-transform: scaleX(0.75);
			-moz-transform: scaleX(0.75);
			-o-transform: scaleX(0.75);
			transform: scaleX(0.75); }
		30% {
			-webkit-transform: scaleX(0);
			-moz-transform: scaleX(0);
			-o-transform: scaleX(0);
			transform: scaleX(0); }
		40% { 
			-webkit-transform: scaleX(0.75);
			-moz-transform: scaleX(0.75);
			-o-transform: scaleX(0.75);
			transform: scaleX(0.75); }
		45% { 
			-webkit-transform: scaleX(1);
			-moz-transform: scaleX(1);
			-o-transform: scaleX(1);
			transform: scaleX(1); }
	}
	
	@keyframes pulsation {	
		0% { opacity: 0; }
		50% { opacity: 1; }
		60% { opacity: 0; }
		100% { opacity: 0; }
	}
	
	/*VERY differnt from 'pulsation', 'pulse' is used with 'wink' in a 'cough' animation*/
	@keyframes pulse {
		0% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		5% {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);}
		6% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);}
		25% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);}
		30% {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);}
		31% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);}
		35% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);}
		40% {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);}
		41% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);}
		100% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
	}
	
	@keyframes pump {
		0% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		5% { 
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8); }
		15% {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1); }
		25% { 
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8); }
		35% { 
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1); }
		40% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		50% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		55% { 
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8); }
		65% {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1); }
		75% { 
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8); }
		85% { 
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1); }
		90% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
	}
	
	@keyframes rock {	
		0% {
			-webkit-transform: rotate(0) translateX(0); 
			-moz-transform: rotate(0) translateX(0); 
			-o-transform: rotate(0) translateX(0);
			transform: rotate(0) translateX(0); }
		25% {
			-webkit-transform: rotate(7.5deg) translateX(-4px);
			-moz-transform: rotate(7.5deg) translateX(-4px);
			-o-transform: rotate(7.5deg) translateX(-4px);
			transform: rotate(7.5deg) translateX(-4px); }
		50% {
			-webkit-transform: rotate(-10deg) translateX(0); 
			-moz-transform: rotate(-10deg) translateX(0); 
			-o-transform: rotate(-10deg) translateX(0);
			transform: rotate(-10deg) translateX(0); }
		75% {
			-webkit-transform: rotate(-25deg) translateX(3px);
			-moz-transform: rotate(-25deg) translateX(3px);
			-o-transform: rotate(-25deg) translateX(3px);
			transform: rotate(-25deg) translateX(3px); }
		100% {
			-webkit-transform: rotate(0) translateX(0); 
			-moz-transform: rotate(0) translateX(0); 
			-o-transform: rotate(0) translateX(0);
			transform: rotate(0) translateX(0); }
	}
	
	@keyframes rotation {
		from { 
			-webkit-transform: rotate(0);
			-moz-transform: rotate(0);
			-o-transform: rotate(0);
			transform: rotate(0); }
		to { 
			-webkit-transform: rotate(-360deg);
			-moz-transform: rotate(-360deg);
			-o-transform: rotate(-360deg);
			transform: rotate(-360deg); }
	}
	
	@keyframes saw {
		0% { stroke-dashoffset: 0; }
		50% { stroke-dashoffset: 880px; }
		100% { stroke-dashoffset: 0; }
	}
	/*Dev Note: BEOF single use-case*/
	@keyframes grow {
		0% {
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8); }
		10% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		80% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		100% {
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8); }	
	}
	
	@keyframes slideL {
		0% {
			opacity: 0;
			-webkit-transform: translate(25px,16px);
			-moz-transform: translate(25px,16px);
			-o-transform: translate(25px,16px);
			transform: translate(25px,16px); }
		10% {
			opacity: 1;
			-webkit-transform: translate(10px,14px);
			-moz-transform: translate(10px,14px);
			-o-transform: translate(10px,14px);
			transform: translate(10px,14px); }	
		80% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			-webkit-transform: translate(10px,14px);
			-moz-transform: translate(10px,14px);
			-o-transform: translate(10px,14px);
			transform: translate(10px,14px); }	
	}
	
	@keyframes slideR {
		0% {
			opacity: 0;
			-webkit-transform: translate(-25px,16px);
			-moz-transform: translate(-25px,16px);
			-o-transform: translate(-25px,16px);
			transform: translate(-25px,16px); }
		10% {
			opacity: 1;
			-webkit-transform: translate(-10px,14px);
			-moz-transform: translate(-10px,14px);
			-o-transform: translate(-10px,14px);
			transform: translate(-10px,14px); }	
		80% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			-webkit-transform: translate(-10px,14px);
			-moz-transform: translate(-10px,14px);
			-o-transform: translate(-10px,14px);
			transform: translate(-10px,14px); }		
	}
	/*Dev Note: EOF single use-case*/
	
	@keyframes throb {
		0% { 
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1); }
		50% {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);}
		100% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);}
	}
	
	@keyframes waggle {
		0% { 
			-webkit-transform: translate(0,0);
			-moz-transform: translate(0,0);
			-o-transform: translate(0,0);
			transform: translate(0,0); }
		25% { 
			-webkit-transform: translate(0,1px);
			-moz-transform: translate(0,1px);
			-o-transform: translate(0,1px);
			transform: translate(0,1px); }
		50% {
			-webkit-transform: translate(1px,1px);
			-moz-transform: translate(1px,1px);
			-o-transform: translate(1px,1px);
			transform: translate(1px,1px); }
		75% {
			-webkit-transform: translate(1px,0);
			-moz-transform: translate(1px,0);
			-o-transform: translate(1px,0);
			transform: translate(1px,0); }
	}
	
	@keyframes wink {
		0% { 
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		5% {
			-webkit-transform: rotate(18deg) translate(1px, 2px);
			-moz-transform: rotate(18deg) translate(1px, 2px);
			-o-transform: rotate(18deg) translate(1px, 2px);
			transform: rotate(18deg) translate(1px, 2px); }
		6% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		25% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		30% {
			-webkit-transform: rotate(18deg) translate(1px, 2px);
			-moz-transform: rotate(18deg) translate(1px, 2px);
			-o-transform: rotate(18deg) translate(1px, 2px);
			transform: rotate(18deg) translate(1px, 2px); }
		31% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		35% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		40% {
			-webkit-transform: rotate(18deg) translate(1px, 2px);
			-moz-transform: rotate(18deg) translate(1px, 2px);
			-o-transform: rotate(18deg) translate(1px, 2px);
			transform: rotate(18deg) translate(1px, 2px); }
		41% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		100% { 
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
	}
	
	@keyframes lwink {
		0% { 
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		5% {
			-webkit-transform: rotate(-18deg) translate(-1px, 2px);
			-moz-transform: rotate(-18deg) translate(-1px, 2px);
			-o-transform: rotate(-18deg) translate(-1px, 2px);
			transform: rotate(-18deg) translate(-1px, 2px); }
		6% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		25% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		30% {
			-webkit-transform: rotate(-18deg) translate(-1px, 2px);
			-moz-transform: rotate(-18deg) translate(-1px, 2px);
			-o-transform: rotate(-18deg) translate(-1px, 2px);
			transform: rotate(-18deg) translate(-1px, 2px); }
		31% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		35% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		40% {
			-webkit-transform: rotate(-18deg) translate(-1px, 2px);
			-moz-transform: rotate(-18deg) translate(-1px, 2px);
			-o-transform: rotate(-18deg) translate(-1px, 2px);
			transform: rotate(-18deg) translate(-1px, 2px); }
		41% {
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
		100% { 
			-webkit-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none; }
	}