@charset "UTF-8";

/* Font */
@font-face {
    font-family: 'unicorns';
    src: url('../fonts/unicorns.woff2') format('woff2'),
         url('../fonts/unicorns.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chava';
    src: url('../fonts/chava.woff2') format('woff2'),
         url('../fonts/chava.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.chava,
.unicorns {
  line-height: 0;
  white-space: nowrap;
}

.chava {
	font-family: $chava;
}

.unicorns {
	font-family: $unicorns;
}

/* Repeatables */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display:block;
}

blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
	margin:0;
	padding:0;
}

audio,
canvas,
progress,
video {
	display:inline-block;
	vertical-align:baseline;
}

h1, h2, h3, h4, h4, h5, h6,
p, dt, dd, a, li {
	font-family: $font-default;
  line-height: 1.125;
}

.single p,
.single dt,
.single dd,
.single a,
.single li {
	font-family: $font-alternate;
}

h1,
h2,
h5 {
	font-weight:$text-black;
}

h1, h2, h3, h4, h5, h6 {
	font-style:normal;
	color:inherit;
	text-rendering:optimizeLegibility;
	margin-top:0;
	margin-bottom:.5rem;
}

h3,
h4,
h6 {
	font-weight: $text-light;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	color:$silver;
	line-height:0;
}


a:focus,
a:active,
a:hover {
	color:$brand-secondary;
	outline:0;
}

select,
textarea {
	border-radius:3px;
}

button,
input,
optgroup,
select,
textarea {
	color:inherit;
	font:inherit;
	margin:0;
}

button,
select {
	text-transform:none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	cursor:pointer;
}

input[type=checkbox],
input[type=radio] {
	box-sizing:border-box;
	padding:0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height:auto;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none;
	-moz-appearance:none;
}

button[disabled],
html input[disabled] {
	cursor:not-allowed;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:0;
	padding:0;
}

pre,
textarea {
	overflow:auto;
}

code,
kbd,
pre,
samp {
	font-family:monospace;
	font-size:1rem;
}

em,
i {
	font-style:italic;
}

b,
em,
i,
strong {
	line-height:inherit;
}

b,
.bold, 
strong,
.strong {
	font-weight:$text-black;
}

dl,
ol,
ul {
	line-height:1.23;
	margin-bottom:1rem;
	list-style-position:outside;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-left:1.25rem;
	margin-bottom:0;
}

/*! A custom reset stylesheet based on normalize.css v3.0.3, Foundation 6.6 and original script*/
/* Reset */
*,
:after,
:before {
	box-sizing:inherit;
}

html {
	font-family:sans-serif;
	font-size:100%;
	box-sizing:border-box;
}

body {
	padding:0;
	margin:0 auto;
	font-family:$font-default;
	font-weight:400;
	line-height:1.5;
	color:$black;
	background:$white;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

img {
	max-width:100%;
	height:auto;
	border:0;
	-ms-interpolation-mode:bicubic;
	display:inline-block;
	vertical-align:middle;
}

textarea {
	height:auto;
	min-height:50px;
}

select {
	width:100%;
}

a {
	color:$brand-primary;
	text-decoration:none;
	line-height:inherit;
	cursor:pointer;
	background-color:transparent;
	img {
		border:0;
	}
}

hr {
	max-width:62.5rem;
	height:0;
	border-right:0;
	border-top:0;
	border-bottom:1px solid $silver;
	border-left:0;
	margin:1.25rem auto;
	clear:both;
}

li {
	font-size:inherit;
}

dl {
	margin-bottom:1rem;
	dt {
		margin-bottom:.3rem;
		font-weight:$text-bold;
	}
}

blockquote {
  margin: 4px 0;
  padding: 4vh 10vw;
  background-color: $brown;
}

blockquote,
blockquote p {
  font-size: 1.25rem;
  color: $white;
  line-height: 1.125;
}

cite {
  display: block;
  font-size: 3.8125rem;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 8vh;
  right: 0;
  font-weight: $text-black;
  line-height: 0.75;
  font-family: $font-alternate;
	&:before {
		content:'\2014 \0020';
	}
}

abbr {
	color:$black;
	cursor:help;
	border-bottom:1px dotted $black;
}

code {
	font-weight:$text-bold;
	border:1px solid $silver;
	padding:.125rem .3125rem .0625rem;
}

code,
kbd {
	font-family:Consolas, Liberation Mono, Courier, monospace;
	color:$black;
	background-color:$silver;
}

kbd {
	padding:.125rem .25rem 0;
	margin:0;
	border-radius:3px;
}

abbr[title] {
	border-bottom:1px dotted;
}

dfn {
	font-style:italic;
}

h1 {
	font-size:2em;
	margin: auto 0;
}

h4 {
  font-size: 1.75rem;
}

mark {
	background:$silver;
	color:$black;
}

p {
	font-size:1.25rem;
	line-height:1.125;
	margin-bottom:1.25rem;
	text-rendering:optimizeLegibility;
}

small {
	font-size:80%;
	line-height:inherit;
}

small {
	font-size:80%;
}

sub,
sup {
	font-size:75%;
	line-height:0;
	position:relative;
}

sup {
	vertical-align:-0.25rem;
}

sub {
	vertical-align: 0.25rem;
}

svg:not(:root) {
	overflow:hidden;
}

figure {
	margin:auto;
}

hr {
	box-sizing:content-box;
	height:0;
}

button {
	overflow:visible;
	background:transparent;
	padding:0;
	border:0;
	line-height:1;
}

input {
	line-height:normal;
	&[type=search] {
		box-sizing:content-box;
	}
}

legend {
	border:0;
	padding:0;
}

optgroup {
	font-weight:$text-black;
}

audio:not([controls]) {
	display:none;
	height:0
}

figure {
	margin: auto;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

td,
th {
	padding:0;
}

[hidden],
template {
	display:none;
}

nav button,
nav .button {
	margin-top: 1rem;	
  margin-bottom: auto;
}

/* Ellipsis-styled Buttons */
button.ellipsis,
.button.ellipsis {
//	display: none;
	&:focus {
		outline: none;
	}
}

/* Featured Images */
.feature {
  margin-bottom: auto;
  display: block;
}
	.wp-admin .feature {
		display: block !important;
	}
	.feature:not(a) {
	  height: auto;
	  pointer-events: none;
 	}
 	a.feature {
	 	height: inherit;
	 	img {
		 	height: inherit;
		}
	}
	.feature img {
		opacity: 0;
	}

/* Thumbnails */
.thumbnail {
	border: none;
	box-shadow:0 0 0 1px rgba(0,0,0, 0.2);
	display: block;
	line-height: 1.25;
	width: 100%;
  height: 13vh;
	overflow:hidden;
	transition:all 200ms ease-out;
	img {
		width: 100%;
		height: auto;
	}
}
	
/* Sticky */
[data-sticky] {
	position: fixed;
}
[data-stick-to] {
	top: 0;
	bottom: initial;
}
	body.admin-bar [data-stick-to] {
		top: 32px;
	}
 
/* Helper */
.hide {
	display:none!important;
}
.block {
  display: block;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.inline-list {
	list-style: none;
	margin: auto;
	padding: 0;
	h3 {
	  margin: auto 1rem auto auto;
	  font-size: 1.625rem;
	  line-height: 1.125;
	}
	li {
		display: table-cell;
		vertical-align: middle;
		.button, 
		button {
			margin-left: rem-calc(8);
			margin-bottom: auto;
		}
		&:first-child {
			.button,
			button {
				margin-left: auto;
			}
		}
	}
}

.uppercase {
	text-transform: uppercase;
}

.no-bullet {
	margin-left:0;
	list-style:none;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align:center;
}

.text-justify {
	text-align:justify;
}

.text-light {
	font-weight: 100;
}

/* Grid */
/*Dev Note: Legacy*/
.row {
	max-width:62.5rem;
	margin-left:auto;
	margin-right:auto;
	&:after,
	&:before {
		content:' ';
		display:table
	}

	&:after {
		clear:both;
	}
	
	&.collapse >.column,
	&.collapse >.columns {
		padding-left:0;
		padding-right:0;
	}
	
	.row {
		max-width:none;
		margin-left:-.9375rem;
		margin-right:-.9375rem;
		&.columns {
			float:none
		}
		&.collapse {
			margin-left:0;
			margin-right:0;
		}
	}
	
	.column.row.row,
	.row.row.columns {
		padding-left:0;
		padding-right:0;
		margin-left:0;
		margin-right:0
	}
	
	&.expanded {
		max-width:none;
		.row {
			margin-left:auto;
			margin-right:auto;
		}
	}
}

.column,
.columns {
	width: 100%;
	align-self: auto;
	&:last-child:not(:first-child) {
		float:right;
	}

	&.end:last-child:last-child,
	.end.columns:last-child:last-child {
		float:left;
	}

	&.row.row {
		float:none;
	}
}
	
.table {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: space-between;
	align-items: center;
}
.cell {
  align-self: auto;
}
	.cell:not([class*="small"]):not([class*="medium"]):not([class*="large"]) {
		flex: 0 1 auto;
  }

.small-1 {
	width:8.33333%;
	max-width:8.33333%;
	flex: .8333 1 auto;
}

.small-push-1 {
	position:relative;
	left:8.33333%
}

.small-pull-1 {
	position:relative;
	left:-8.33333%
}

.small-offset-0 {
	margin-left:0
}

.small-2 {
	width: 16.6667%;
	max-width: 16.6667%;
	flex: .1666 1 auto;
}

.small-push-2 {
	position:relative;
	left:16.66667%
}

.small-pull-2 {
	position:relative;
	left:-16.66667%
}

.small-offset-1 {
	margin-left:8.33333%
}

.small-3 {
	width: 25%;
	max-width: 25%;
	flex: .25 1 auto;
}

.small-push-3 {
	position:relative;
	left:25%
}

.small-pull-3 {
	position:relative;
	left:-25%
}

.small-offset-2 {
	margin-left:16.66667%
}

.small-4 {
	width: 33.3334%;
	max-width: 33.3334%;
	flex: .3333 1 auto;
}

.small-push-4 {
	position:relative;
	left:33.33333%
}

.small-pull-4 {
	position:relative;
	left:-33.33333%
}

.small-offset-3 {
	margin-left:25%
}

.small-5 {
	width: 41.6667%;
	max-width: 41.6667%;
  flex: .4166 1 auto;
}

.small-push-5 {
	position:relative;
	left:41.66667%
}

.small-pull-5 {
	position:relative;
	left:-41.66667%
}

.small-offset-4 {
	margin-left:33.33333%
}

.small-6 {
	width: 50%;
	max-width: 50%;
	flex: .5 1 auto;
}

.small-push-6 {
	position:relative;
	left:50%
}

.small-pull-6 {
	position:relative;
	left:-50%
}

.small-offset-5 {
	margin-left:41.66667%
}

.small-7 {
	width: 58.3334%;
	max-width: 58.3334%;
  flex: .5833 1 auto;
}

.small-push-7 {
	position:relative;
	left:58.33333%
}

.small-pull-7 {
	position:relative;
	left:-58.33333%
}

.small-offset-6 {
	margin-left:50%
}

.small-8 {
	width: 66.6667%;
	max-width: 66.6667%;
  flex: .6666 1 auto;
}

.small-push-8 {
	position:relative;
	left:66.66667%
}

.small-pull-8 {
	position:relative;
	left:-66.66667%
}

.small-offset-7 {
	margin-left:58.33333%
}

.small-9 {
	width: 75%;
	max-width: 75%;
  flex: .75 1 auto;
}

.small-push-9 {
	position:relative;
	left:75%
}

.small-pull-9 {
	position:relative;
	left:-75%
}

.small-offset-8 {
	margin-left:66.66667%
}

.small-10 {
	width: 83.3333%;
	max-width: 83.3333%;
  flex: .8333 1 auto;
}

.small-push-10 {
	position:relative;
	left:83.33333%
}

.small-pull-10 {
	position:relative;
	left:-83.33333%
}

.small-offset-9 {
	margin-left:75%
}

.small-11 {
	width: 91.6667%;
	max-width: 91.6667%;
  flex: .9166 1 auto;
}

.small-push-11 {
	position:relative;
	left:91.66667%
}

.small-pull-11 {
	position:relative;
	left:-91.66667%
}

.small-offset-10 {
	margin-left:83.33333%
}

.small-12 {
	width: 100%;
  flex: 1 1 auto;
}

.small-offset-11 {
	margin-left:91.66667%
}

.small-up-1>.column,
.small-up-1>.columns {
	width:100%;
	float:left
}

.small-up-1>.column:nth-of-type(1n),
.small-up-1>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-1>.column:nth-of-type(1n+1),
.small-up-1>.columns:nth-of-type(1n+1) {
	clear:both
}

.small-up-1>.column:last-child,
.small-up-1>.columns:last-child {
	float:left
}

.small-up-2>.column,
.small-up-2>.columns {
	width:50%;
	float:left
}

.small-up-2>.column:nth-of-type(1n),
.small-up-2>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-2>.column:nth-of-type(2n+1),
.small-up-2>.columns:nth-of-type(2n+1) {
	clear:both
}

.small-up-2>.column:last-child,
.small-up-2>.columns:last-child {
	float:left
}

.small-up-3>.column,
.small-up-3>.columns {
	flex: .3333 1 auto;
	float:left
}

.small-up-3>.column:nth-of-type(1n),
.small-up-3>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-3>.column:nth-of-type(3n+1),
.small-up-3>.columns:nth-of-type(3n+1) {
	clear:both
}

.small-up-3>.column:last-child,
.small-up-3>.columns:last-child {
	float:left
}

.small-up-4>.column,
.small-up-4>.columns {
	flex: .25 1 auto;
	float:left
}

.small-up-4>.column:nth-of-type(1n),
.small-up-4>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-4>.column:nth-of-type(4n+1),
.small-up-4>.columns:nth-of-type(4n+1) {
	clear:both
}

.small-up-4>.column:last-child,
.small-up-4>.columns:last-child {
	float:left
}

.small-up-5>.column,
.small-up-5>.columns {
	width:20%;
	float:left
}

.small-up-5>.column:nth-of-type(1n),
.small-up-5>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-5>.column:nth-of-type(5n+1),
.small-up-5>.columns:nth-of-type(5n+1) {
	clear:both
}

.small-up-5>.column:last-child,
.small-up-5>.columns:last-child {
	float:left
}

.small-up-6>.column,
.small-up-6>.columns {
	flex: .1666 1 auto;
	float:left
}

.small-up-6>.column:nth-of-type(1n),
.small-up-6>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-6>.column:nth-of-type(6n+1),
.small-up-6>.columns:nth-of-type(6n+1) {
	clear:both
}

.small-up-6>.column:last-child,
.small-up-6>.columns:last-child {
	float:left
}

.small-up-7>.column,
.small-up-7>.columns {
	width:14.28571%;
	float:left
}

.small-up-7>.column:nth-of-type(1n),
.small-up-7>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-7>.column:nth-of-type(7n+1),
.small-up-7>.columns:nth-of-type(7n+1) {
	clear:both
}

.small-up-7>.column:last-child,
.small-up-7>.columns:last-child {
	float:left
}

.small-up-8>.column,
.small-up-8>.columns {
	width:12.5%;
	float:left
}

.small-up-8>.column:nth-of-type(1n),
.small-up-8>.columns:nth-of-type(1n) {
	clear:none
}

.small-up-8>.column:nth-of-type(8n+1),
.small-up-8>.columns:nth-of-type(8n+1) {
	clear:both
}

.small-up-8>.column:last-child,
.small-up-8>.columns:last-child {
	float:left
}

.small-collapse>.column,
.small-collapse>.columns {
	padding-left:0;
	padding-right:0
}

.expanded.row .small-collapse.row,
.small-collapse .row {
	margin-left:0;
	margin-right:0
}

.small-uncollapse>.column,
.small-uncollapse>.columns {
	padding-left:.9375rem;
	padding-right:.9375rem
}

.small-centered {
	float:none;
	margin-left:auto;
	margin-right:auto
}

.small-pull-0,
.small-push-0,
.small-uncentered {
	position:static;
	margin-left:0;
	margin-right:0;
	float:left
}
	.column-block {
	  padding: 0.375rem 0.5rem;
  }

@media screen and (min-width:40em) {
	.medium-1 {
		width:8.33333%;
		max-width:8.33333%;
		flex: .8333 1 auto;
	}
	
	.medium-push-1 {
		position:relative;
		left:8.33333%
	}
	
	.medium-pull-1 {
		position:relative;
		left:-8.33333%
	}
	
	.medium-offset-0 {
		margin-left:0
	}
	
	.medium-2 {
		width: 16.6667%;
		max-width: 16.6667%;
	  flex: .1666 1 auto;
	}
	
	.medium-push-2 {
		position:relative;
		left:16.66667%
	}
	
	.medium-pull-2 {
		position:relative;
		left:-16.66667%
	}
	
	.medium-offset-1 {
		margin-left:8.33333%
	}
	
	.medium-3 {
		width: 25%;
	max-width: 25%;
	  flex: .25 1 auto;
	}
	
	.medium-push-3 {
		position:relative;
		left:25%
	}
	
	.medium-pull-3 {
		position:relative;
		left:-25%
	}
	
	.medium-offset-2 {
		margin-left:16.66667%
	}
	
	.medium-4 {
		width: 33.3334%;
		max-width: 33.3334%;
	  flex: .3333 1 auto;
	}
	
	.medium-push-4 {
		position:relative;
		left:33.33333%
	}
	
	.medium-pull-4 {
		position:relative;
		left:-33.33333%
	}
	
	.medium-offset-3 {
		margin-left:25%
	}
	
	.medium-5 {
		width: 41.6667%;
		max-width: 41.6667%;
	  flex: .4166 1 auto;
	}
	
	.medium-push-5 {
		position:relative;
		left:41.66667%
	}
	
	.medium-pull-5 {
		position:relative;
		left:-41.66667%
	}
	
	.medium-offset-4 {
		margin-left:33.33333%
	}
	
	.medium-6 {
		width: 50%;
	max-width: 50%;
	  flex: .5 1 auto;
	}
	
	.medium-push-6 {
		position:relative;
		left:50%
	}
	
	.medium-pull-6 {
		position:relative;
		left:-50%
	}
	
	.medium-offset-5 {
		margin-left:41.66667%
	}
	
	.medium-7 {
		width: 58.3334%;
		max-width: 58.3334%;
	  flex: .5833 1 auto;
	}
	
	.medium-push-7 {
		position:relative;
		left:58.33333%
	}
	
	.medium-pull-7 {
		position:relative;
		left:-58.33333%
	}
	
	.medium-offset-6 {
		margin-left:50%
	}
	
	.medium-8 {
		width: 66.6667%;
		max-width: 66.6667%;
	  flex: .6666 1 auto;
	}
	
	.medium-push-8 {
		position:relative;
		left:66.66667%
	}
	
	.medium-pull-8 {
		position:relative;
		left:-66.66667%
	}
	
	.medium-offset-7 {
		margin-left:58.33333%
	}
	
	.medium-9 {
		width: 75%;
		max-width: 75%;
	  flex: .75 1 auto;
	}
	
	.medium-push-9 {
		position:relative;
		left:75%
	}
	
	.medium-pull-9 {
		position:relative;
		left:-75%
	}
	
	.medium-offset-8 {
		margin-left:66.66667%
	}
	
	.medium-10 {
		width: 83.3333%;
		max-width: 83.3333%;
	  flex: .8333 1 auto;
	}
	
	.medium-push-10 {
		position:relative;
		left:83.33333%
	}
	
	.medium-pull-10 {
		position:relative;
		left:-83.33333%
	}
	
	.medium-offset-9 {
		margin-left:75%
	}
	
	.medium-11 {	
		width: 91.6667%;
		max-width: 91.6667%;
	  flex: .9166 1 auto;
	}
	
	.medium-push-11 {
		position:relative;
		left:91.66667%
	}
	
	.medium-pull-11 {
		position:relative;
		left:-91.66667%
	}
	
	.medium-offset-10 {
		margin-left:83.33333%
	}
	
	.medium-12 {
		width: 100%;
	  flex: 1 1 auto;
	}
	
	.medium-offset-11 {
		margin-left:91.66667%
	}
	
	.medium-up-1>.column,
	.medium-up-1>.columns {
		width:100%;
		float:left
	}
	
	.medium-up-1>.column:nth-of-type(1n),
	.medium-up-1>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-1>.column:nth-of-type(1n+1),
	.medium-up-1>.columns:nth-of-type(1n+1) {
		clear:both
	}
	
	.medium-up-1>.column:last-child,
	.medium-up-1>.columns:last-child {
		float:left
	}
	
	.medium-up-2>.column,
	.medium-up-2>.columns {
		width:50%;
		float:left
	}
	
	.medium-up-2>.column:nth-of-type(1n),
	.medium-up-2>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-2>.column:nth-of-type(2n+1),
	.medium-up-2>.columns:nth-of-type(2n+1) {
		clear:both
	}
	
	.medium-up-2>.column:last-child,
	.medium-up-2>.columns:last-child {
		float:left
	}
	
	.medium-up-3>.column,
	.medium-up-3>.columns {
	  flex: .3333 1 auto;
		float:left
	}
	
	.medium-up-3>.column:nth-of-type(1n),
	.medium-up-3>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-3>.column:nth-of-type(3n+1),
	.medium-up-3>.columns:nth-of-type(3n+1) {
		clear:both
	}
	
	.medium-up-3>.column:last-child,
	.medium-up-3>.columns:last-child {
		float:left
	}
	
	.medium-up-4>.column,
	.medium-up-4>.columns {
	  flex: .25 1 auto;
		float:left
	}
	
	.medium-up-4>.column:nth-of-type(1n),
	.medium-up-4>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-4>.column:nth-of-type(4n+1),
	.medium-up-4>.columns:nth-of-type(4n+1) {
		clear:both
	}
	
	.medium-up-4>.column:last-child,
	.medium-up-4>.columns:last-child {
		float:left
	}
	
	.medium-up-5>.column,
	.medium-up-5>.columns {
		width:20%;
		float:left
	}
	
	.medium-up-5>.column:nth-of-type(1n),
	.medium-up-5>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-5>.column:nth-of-type(5n+1),
	.medium-up-5>.columns:nth-of-type(5n+1) {
		clear:both
	}
	
	.medium-up-5>.column:last-child,
	.medium-up-5>.columns:last-child {
		float:left
	}
	
	.medium-up-6>.column,
	.medium-up-6>.columns {
	  flex: .1666 1 auto;
		float:left
	}
	
	.medium-up-6>.column:nth-of-type(1n),
	.medium-up-6>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-6>.column:nth-of-type(6n+1),
	.medium-up-6>.columns:nth-of-type(6n+1) {
		clear:both
	}
	
	.medium-up-6>.column:last-child,
	.medium-up-6>.columns:last-child {
		float:left
	}
	
	.medium-up-7>.column,
	.medium-up-7>.columns {
		width:14.28571%;
		float:left
	}
	
	.medium-up-7>.column:nth-of-type(1n),
	.medium-up-7>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-7>.column:nth-of-type(7n+1),
	.medium-up-7>.columns:nth-of-type(7n+1) {
		clear:both
	}
	
	.medium-up-7>.column:last-child,
	.medium-up-7>.columns:last-child {
		float:left
	}
	
	.medium-up-8>.column,
	.medium-up-8>.columns {
		width:12.5%;
		float:left
	}
	
	.medium-up-8>.column:nth-of-type(1n),
	.medium-up-8>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.medium-up-8>.column:nth-of-type(8n+1),
	.medium-up-8>.columns:nth-of-type(8n+1) {
		clear:both
	}
	
	.medium-up-8>.column:last-child,
	.medium-up-8>.columns:last-child {
		float:left
	}
	
	.medium-collapse>.column,
	.medium-collapse>.columns {
		padding-left:0;
		padding-right:0
	}
	
	.expanded.row .medium-collapse.row,
	.medium-collapse .row {
		margin-left:0;
		margin-right:0
	}
	
	.medium-uncollapse>.column,
	.medium-uncollapse>.columns {
		padding-left:.9375rem;
		padding-right:.9375rem
	}
	
	.medium-centered {
		float:none;
		margin-left:auto;
		margin-right:auto
	}
	
	.medium-pull-0,
	.medium-push-0,
	.medium-uncentered {
		position:static;
		margin-left:0;
		margin-right:0;
		float:left
	}

}

/* Large Up */
@media only screen and (min-width:64em) {
	p {
		font-size:1.5vw;
	}
	
	.large-1 {
		width:8.33333%;
		max-width:8.33333%;
		flex: .8333 1 auto;
	}
	
	.large-push-1 {
		position:relative;
		left:8.33333%
	}
	
	.large-pull-1 {
		position:relative;
		left:-8.33333%
	}
	
	.large-offset-0 {
		margin-left:0
	}
	
	.large-2 {
		width: 16.6667%;
		max-width: 16.6667%;
	  flex: .1666 1 auto;
	}
	
	.large-push-2 {
		position:relative;
		left:16.66667%
	}
	
	.large-pull-2 {
		position:relative;
		left:-16.66667%
	}
	
	.large-offset-1 {
		margin-left:8.33333%
	}
	
	.large-3 {
		width: 25%;
		max-width: 25%;
	  flex: .25 1 auto;
	}
	
	.large-push-3 {
		position:relative;
		left:25%
	}
	
	.large-pull-3 {
		position:relative;
		left:-25%
	}
	
	.large-offset-2 {
		margin-left:16.66667%
	}
	
	.large-4 {
		width: 33.3334%;
		max-width: 33.3334%;
	  flex: .3333 1 auto;
	}
	
	.large-push-4 {
		position:relative;
		left:33.33333%
	}
	
	.large-pull-4 {
		position:relative;
		left:-33.33333%
	}
	
	.large-offset-3 {
		margin-left:25%
	}
	
	.large-5 {
		width: 41.6667%;
		max-width: 41.6667%;
	  flex: .4166 1 auto;
	}
	
	.large-push-5 {
		position:relative;
		left:41.66667%
	}
	
	.large-pull-5 {
		position:relative;
		left:-41.66667%
	}
	
	.large-offset-4 {
		margin-left:33.33333%
	}
	
	.large-6 {
		width: 50%;
		max-width: 50%;
	  flex: .5 1 auto;
	}
	
	.large-push-6 {
		position:relative;
		left:50%
	}
	
	.large-pull-6 {
		position:relative;
		left:-50%
	}
	
	.large-offset-5 {
		margin-left:41.66667%
	}
	
	.large-7 {
		width: 58.3334%;
		max-width: 58.3334%;
	  flex: .5833 1 auto;
	}
	
	.large-push-7 {
		position:relative;
		left:58.33333%
	}
	
	.large-pull-7 {
		position:relative;
		left:-58.33333%
	}
	
	.large-offset-6 {
		margin-left:50%
	}
	
	.large-8 {
		width: 66.6667%;
		max-width: 66.6667%;
	  flex: .6666 1 auto;
	}
	
	.large-push-8 {
		position:relative;
		left:66.66667%
	}
	
	.large-pull-8 {
		position:relative;
		left:-66.66667%
	}
	
	.large-offset-7 {
		margin-left:58.33333%
	}
	
	.large-9 {
		width: 75%;
		max-width: 75%;
	  flex: .75 1 auto;
	}
	
	.large-push-9 {
		position:relative;
		left:75%
	}
	
	.large-pull-9 {
		position:relative;
		left:-75%
	}
	
	.large-offset-8 {
		margin-left:66.66667%
	}
	
	.large-10 {
		width: 83.3333%;
		max-width: 83.3333%;
	  flex: .8333 1 auto;
	}
	
	.large-push-10 {
		position:relative;
		left:83.33333%
	}
	
	.large-pull-10 {
		position:relative;
		left:-83.33333%
	}
	
	.large-offset-9 {
		margin-left:75%
	}
	
	.large-11 {	
		width: 91.6667%;
		max-width: 91.6667%;
	  flex: .9166 1 auto;
	}
	
	.large-push-11 {
		position:relative;
		left:91.66667%
	}
	
	.large-pull-11 {
		position:relative;
		left:-91.66667%
	}
	
	.large-offset-10 {
		margin-left:83.33333%
	}
	
	.large-12 {
		width: 100%;
	  flex: 1 1 auto;
	}
	
	.large-offset-11 {
		margin-left:91.66667%
	}
	
	.large-up-1>.column,
	.large-up-1>.columns {
		width:100%;
		float:left
	}
	
	.large-up-1>.column:nth-of-type(1n),
	.large-up-1>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-1>.column:nth-of-type(1n+1),
	.large-up-1>.columns:nth-of-type(1n+1) {
		clear:both
	}
	
	.large-up-1>.column:last-child,
	.large-up-1>.columns:last-child {
		float:left
	}
	
	.large-up-2>.column,
	.large-up-2>.columns {
		width:50%;
		float:left
	}
	
	.large-up-2>.column:nth-of-type(1n),
	.large-up-2>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-2>.column:nth-of-type(2n+1),
	.large-up-2>.columns:nth-of-type(2n+1) {
		clear:both
	}
	
	.large-up-2>.column:last-child,
	.large-up-2>.columns:last-child {
		float:left
	}
	
	.large-up-3>.column,
	.large-up-3>.columns {
  	width: 33.3334%;
  	float:left
	}
	
	.large-up-3>.column:nth-of-type(1n),
	.large-up-3>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-3>.column:nth-of-type(3n+1),
	.large-up-3>.columns:nth-of-type(3n+1) {
		clear:both
	}
	
	.large-up-3>.column:last-child,
	.large-up-3>.columns:last-child {
		float:left
	}
	
	.large-up-4>.column,
	.large-up-4>.columns {
	  flex: .25 1 auto;
		float:left
	}
	
	.large-up-4>.column:nth-of-type(1n),
	.large-up-4>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-4>.column:nth-of-type(4n+1),
	.large-up-4>.columns:nth-of-type(4n+1) {
		clear:both
	}
	
	.large-up-4>.column:last-child,
	.large-up-4>.columns:last-child {
		float:left
	}
	
	.large-up-5>.column,
	.large-up-5>.columns {
		width:20%;
		float:left
	}
	
	.large-up-5>.column:nth-of-type(1n),
	.large-up-5>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-5>.column:nth-of-type(5n+1),
	.large-up-5>.columns:nth-of-type(5n+1) {
		clear:both
	}
	
	.large-up-5>.column:last-child,
	.large-up-5>.columns:last-child {
		float:left
	}
	
	.large-up-6>.column,
	.large-up-6>.columns {
		width: 16%;
	  flex: .1666 1 auto;
		float:left
	}
	
	.large-up-6>.column:nth-of-type(1n),
	.large-up-6>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-6>.column:nth-of-type(6n+1),
	.large-up-6>.columns:nth-of-type(6n+1) {
		clear:both
	}
	
	.large-up-6>.column:last-child,
	.large-up-6>.columns:last-child {
		float:left
	}
	
	.large-up-7>.column,
	.large-up-7>.columns {
		width:14.28571%;
		float:left
	}
	
	.large-up-7>.column:nth-of-type(1n),
	.large-up-7>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-7>.column:nth-of-type(7n+1),
	.large-up-7>.columns:nth-of-type(7n+1) {
		clear:both
	}
	
	.large-up-7>.column:last-child,
	.large-up-7>.columns:last-child {
		float:left
	}
	
	.large-up-8>.column,
	.large-up-8>.columns {
		width:12.5%;
		float:left
	}
	
	.large-up-8>.column:nth-of-type(1n),
	.large-up-8>.columns:nth-of-type(1n) {
		clear:none
	}
	
	.large-up-8>.column:nth-of-type(8n+1),
	.large-up-8>.columns:nth-of-type(8n+1) {
		clear:both
	}
	
	.large-up-8>.column:last-child,
	.large-up-8>.columns:last-child {
		float:left
	}
	
	.large-collapse>.column,
	.large-collapse>.columns {
		padding-left:0;
		padding-right:0
	}
	
	.expanded.row .large-collapse.row,
	.large-collapse .row {
		margin-left:0;
		margin-right:0
	}
	
	.large-uncollapse>.column,
	.large-uncollapse>.columns {
		padding-left:.9375rem;
		padding-right:.9375rem
	}
	
	.large-centered {
		float:none;
		margin-left:auto;
		margin-right:auto
	}
	
	.large-pull-0,
	.large-push-0,
	.large-uncentered {
		position:static;
		margin-left:0;
		margin-right:0;
		float:left
	}

}