body {
	&.fixed {
		position: fixed;
		overflow: hidden;
	}
	
	> main {
		display: flex;
	}

	> main,
	> section {
		position: relative;
	}

	> main,
	> footer,
	> section {
		min-height: calc(100vh - 4px);
		width: calc(100vw - 4px);
		vertical-align: middle;
		z-index: 1;
		border: solid rem-calc(2) $white;
		transition: all 300ms ease-out;
	}
}

.th {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	img {
		width: rem-calc(75);
		max-width: rem-calc(90);
		margin: auto;
		border-radius: 100vw;
		overflow: hidden;
		border: solid rem-calc(4) $white;
		display: block;
	}
}

.feature {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: none;
  img {
	  width: 100%;
	  height: auto;
	  opacity: 0;
	}
}
main {
	> div {
		position: absolute;
		width: 100vw;
		height: 100vh;
		margin: auto;
		figure {			
			width: calc(100% - 5vw);
			height: calc(100vh - 9.5vh);
			padding: 4.75vh 2.5vw;
			margin: auto;	
			vertical-align: middle;
			text-align: center;
			background: transparent;
			background-size: cover;
			background-position: left;
			background-repeat: no-repeat;
			backface-visibility: hidden;
			figcaption {		
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				z-index: 1;
				* {				
					flex: 0 1 auto;
					align-self: stretch;
					width: 100%;
					text-shadow: 0 0 rem-calc(3) $black;
					color: $white;
				}
			}
		}
		section {
			* {				
				text-shadow: 0 0 rem-calc(3) $black;
				color: $white;
			}
		}
	}
}

body > section {
	border-top-width: rem-calc(1);
	border-bottom-width: rem-calc(1);
//	background-image: url(assets/img/trace_section.jpg);
	background-color: #f2f2f2;
	background-size: cover;
	background-position: center;
	> div {	
		width: calc(100% - 2px);
		flex: 0 1 auto;
		align-self: stretch;
		background-color: transparent;
		border: solid rem-calc(1) $white;
	}
	dl[data-gallery] {
		justify-content: space-between;
		align-content: center;
		margin-top: calc(54vh - 64px);
		height: calc(46vh + 4px);
		> div {
			flex: 0 1 auto;
			align-self: stretch;
			width: 33.3334%;
			height: 23vh;
			&:nth-child(3n+3) dt {
				text-align: right;
			}
			&:nth-child(3n+2) dt {
				text-align: center;
			}
		}
		dd {
			height: inherit;
			figure {
				height: inherit;
				background-size: cover;
				background-position: center;
			}
		}
		dt {
			position: relative;
			padding: rem-calc(10);
			margin-top: -23vh;
		}
		h4, 
		h6 {
			margin: auto;
			font-size: rem-calc(14);
			color: $white;
			text-shadow: 0 0 rem-calc(5) $black;
		}
		p {
			display: none;
			font-size: rem-calc(12);
		}
	}
	dl[data-journal] {
		height: calc(100vh - 60px);
		> div {
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		  justify-content: flex-start;
		  align-content: flex-start;
		  align-items: flex-start;
		  dt:nth-child(2) {
				width: calc(100% - 2.5rem);
			}
		}
		dt {
			flex: 0 1 auto;
			align-self: stretch;
			padding: rem-calc(20);
			width: calc(50% - 2.5rem);
			&:first-child {
				margin-left: 0;
			}
			p {
				font-size: rem-calc(16);
				margin-bottom: auto;				
				&:first-letter {
					font-size: rem-calc(34);
					font-weight: $text-bold;
					text-transform: uppercase;
					line-height: 0.75;
					float: left;
					margin-right: rem-calc(4);
					padding: rem-calc(4);
				}
			}
		}
	}
}

@media only screen and (max-width: 39.9375em) {
	.th {
		img {
			margin-left: 0;
			margin-right: 0;
		}
		figcaption {
			margin-left: rem-calc(16);
			margin-right: auto;
		}
	}
}

@media only screen and (min-width: 40em) {
	.th img {
		width: 100%;
		max-width: 180px;
	}
}
	
@media only screen and (min-width: 40em) and (max-width: 63.9375em) {
	.th {
		margin-bottom: rem-calc(16);
		figcaption {
			width: calc(66.6666% - 24px);
		  float: right;
		  display: inline;
		  padding: 0 0 0 rem-calc(10);
		}
		img {
			width: 33.3334%;
			display: inline-block;
		}
	}
}

@media only screen and (max-width: 63.9375em){
	body > section > div {
		min-height: 33.3334vh;
	}
}

@media only screen and (min-width: 64em){
	h1, h2 {
		font-size: 3.5vw;
	}

	body > main,
	body > section {
		display: flex;
	}

	body > section > div {
		max-width: 33.3334%;
	}
}