@charset "UTF-8";
//Fonts
@font-face {
    font-family: 'unicorns';
    src: url('../fonts/unicorns.woff2') format('woff2'),
         url('../fonts/unicorns.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chava';
    src: url('../fonts/chava.woff2') format('woff2'),
         url('../fonts/chava.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {	
	line-height: 1.125;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: auto 0;
}

header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
	height: 25vh;
	text-align: center;
	figure {
		display: inline-block;
		width: auto;
	}
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
	margin: auto;
	dd,
	dt {
		margin: auto;
  }
  
  dt {
		> * {
			font-size: rem-calc(10);
			line-height: 1.25;
		}
    h6 {
			margin-top: rem-calc(10);
			margin-bottom: rem-calc(2);
			font-size: rem-calc(10);
			font-weight: $text-black;
			text-transform: uppercase;
			line-height: 1;
		}
		p {
			margin-top: auto;
			margin-bottom: rem-calc(8);
			font-weight: $text-light;
		}
	}
  
	dd {
		border: solid rem-calc(2) $black;
		min-height: 15vh;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		img {
			width: 100%;
			opacity: 0;
		}
	}
}

figure {
	margin: auto;
}

p {
	font-size: rem-calc(16);
	margin-top: auto;
	margin-bottom: rem-calc(16);
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:active,
	&:hover {
		outline-width: 0;
	}
}

b,
strong {
	font-weight: inherit;
	font-weight: $text-bold;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

h1, h2 {
  font-size: rem-calc(36);
  font-weight: $text-black;
  letter-spacing: -1px;
}

//Helper
.button {
	cursor: pointer;
}

.relative {
	position: relative; 
}

.chava,
.unicorns {
  line-height: 0;
  white-space: nowrap;
}

.chava {
	font-family: $font-default;
}

.unicorns {
	font-family: $font-alternate;
}

@media only screen and (min-width: 64em) {
	.button {}
}