body > footer {
	position: absolute;
	bottom: 0;
	height: 0;
	border-top-width: 0;
	background-color: #f2f2f2;
	background-size: cover;
	background-position: center;
	&.collapsed {
		min-height: 0;
		transition: all 150ms ease-out;
	}
	> div {
		flex: 0 1 auto;
		align-self: stretch;
		background-color: transparent;
		border: solid rem-calc(1) $white;		
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
  }
  
	article {
		padding: rem-calc(16);
		width: calc(100% - 34px);
		min-height: 100px;
		background-color: #92cfd4;
		h5, 
		p {
			color: $brown;
		}
		
		h5 {
			margin-top: rem-calc(16);
			margin-bottom: rem-calc(8);
			font-size: rem-calc(24);
			line-height: 0.9375;
			text-transform: uppercase;
		}
		p {
			margin-top: auto;
			font-size: rem-calc(12);
			font-weight: $text-normal;
			line-height: 1.25;
		}
		nav {
			margin-left: rem-calc(-8);
			margin-right: rem-calc(-8);
			ul {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items: flex-start;
				padding: 0;
				margin: auto;
				list-style: none;
			}
			li {
				padding: rem-calc(8);
				font-size: rem-calc(12);
			}
		}
	}
	
	div:nth-child(odd) {
		article {
			order: 1;
			border-right: solid rem-calc(2) $white;
		}
		dl {
			order: 2;
		}
	}
	
	dl {
		width: calc(100% - 32px);
		min-height: calc(96vh - 160px);
		color: $brown;		
		padding: rem-calc(16);
		&[data-journal] {				
			> div {
				flex: .5 1 auto;
				width: calc(50% - 0.625rem);
			}
			dt {
				display: inline-flex;
				margin-bottom: rem-calc(20);
				font-family: $font-alternate;
				p {
					font-weight: $text-normal;
					font-size: rem-calc(14);
					max-height: initial;
					height: auto;
					margin-top: auto;
					&:first-letter {
						font-size: rem-calc(34);
						font-weight: $text-bold;
						text-transform: uppercase;
						line-height: 0.75;
						float: left;
						margin-right: rem-calc(4);
						padding: rem-calc(4);
					}
				}
				&:nth-of-type(odd) {
					p {
						padding-right: rem-calc(20);
					}
				}
			}
	}
		&[data-gallery] {
			dt {
				p {
					overflow: hidden;
					max-height: 48px;
				}
			}
		}
	}
}

@media only screen and (max-width: 39.9375em) {
	
		body > footer dl > div {
			margin-bottom: rem-calc(32);
		}
		body > footer article p {
			display: none;
		}
}

@media only screen and (min-width: 40em) {
	body > footer {
		position: fixed;
		article {
			padding: 4vh 2vw;
			width: calc(100% - 4vw - 2px);
		}
					
		div:nth-child(even) {
			article {
				order: 2;
				border-left: solid rem-calc(2) $white;
			}
			dl {
				order: 1;
			}
		}
		
		dl {
			width: calc(100% - 2vw);
			min-height: calc(100% - 4vh);
			padding: 2vh 1vw;
			> div {
				align-self: auto;
				padding: rem-calc(5);
			}
			&[data-gallery] {				
				> div {
					flex: .3334 1 auto;
					width: calc(33.3334% - 10px);
				}
			}
			&[data-journal] {				
				> div {
					flex: .5 1 auto;
				}
			}
		}
	}
}

@media only screen and (min-width: 40em) and (max-width: 63.9375em) {
	body > footer {
		article {
			width: calc(248px - 4vw);
			h5 {
				margin-top: auto;
				margin-bottom: auto;
				font-size: rem-calc(18);
			}
		}
		dl {
			width: calc(100% - 250px - 2vw);
			min-height: 100vh;
		}
	}
}

@media only screen and (max-width: 63.9375em){
	body > section > div {
		min-height: 33.3334vh;
	}
	body > footer > div {
		min-height: 50vh;
	}
}

@media only screen and (min-width: 64em){
	body > footer {
		display: flex;
		> div {
			width: calc(50% - 2px);
		}
	
		dl {
			width: calc(63% - 2vw);
		}
	
		article {
			width: calc(37% - 4vw - 2px);
			h5 {
				margin-bottom: rem-calc(8);
				font-size: rem-calc(26);
				font-size: 2.03125vw;
			}
		}
	}
}