//Colors
$brand-primary: #393939;
$brand-secondary: #c6f700;
$white: #ffffff;
$black: #000000;
$brown: #3e1f14;
$silver: #dddddd;
$dark-grey: #9a9489;

//Font
$text-light: 100;
$text-normal: 300;
$text-bold: 400;
$text-black: 900;

$font-default: 'chava';
$font-alternate: 'unicorns';

//Respsonsive Breakpoints
$breakpoints: (phone: 320px, tablet: 768px, laptop: 1024px, desktop: 1280px, television: 2560px);
